	<section id="LP-EATLIKEPRO-HOME" class="LPELP_mainSection">

		<!-- LPELP_content -->
		<section class="LPELP_content">
			<!-- LPELP_video -->
			<div class="LPELP_block LPELP_video">
				<div class="LPELP_video_player"></div>
				<div class="LPELP_block_content">
					<a href="https://www.youtube.com/watch?v=YDsrpNDxoWA" data-playerId="YDsrpNDxoWA" class="LPELP_playBtn LPELP_calltoaction playVideo"><img src="{base_url}assets/images/playerBtn.png"></a>
					<p>By 2025, 70 million children <br>around the world will suffer from obesity</p>
					<h1>#EatLikeAPro</h1>
					<a href="./mission" class="LPELP_moreBtn LPELP_calltoaction">Learn More</a>
				</div>
			</div>
			<!-- END LPELP_video -->

			<!-- LPELP_recipes -->
			<div class="LPELP_block LPELP_recipes bigPicture">
				<header class="bigPicture_header">
					<div class="LPELP_block_content">
						<h2>RECIPES TO EAT <strong>LIKE A PRO</strong></h2>
						<p>Created by <strong>FC Barcelona Nutritionists</strong></p>
					</div>
				</header>
				<section class="LPELP_subsection">
					<h3>This is what our PRO'S eat <br>to play at their best</h3>
					<ul>
						<li class="item1">
							<h4>Quick recovery healthy pizza</h4>
							<p>To be as fast as Messi</p>
							<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
							<div class="wrapImage">
								<img src="{base_url}assets/images/messi.png" alt="">
							</div>
						</li>
						<li class="item2">
							<h4>Muscle builder roast-beef rolls</h4>
							<p>To be strong like Umtiti</p>
							<a href="./recipes2" class="LPELP_calltoaction">See recipe</a>
							<div class="wrapImage">
								<img src="{base_url}assets/images/umtiti.png" alt="">
							</div>
						</li>
						<li class="item3">
							<h4>Mind sharpener gazpacho</h4>
							<p>To become as acurate as Rakitic</p>
							<a href="./recipes3" class="LPELP_calltoaction">See recipe</a>
							<div class="wrapImage">
								<img src="{base_url}assets/images/rakitic.png" alt="">
							</div>
						</li>
						<li class="item4">
							<h4>All-powerful banana and avocado pudding</h4>
							<p>To jump as high as Piqué</p>
							<a href="./recipes4" class="LPELP_calltoaction">See recipe</a>
							<div class="wrapImage">
								<img src="{base_url}assets/images/pique.png" alt="">
							</div>
						</li>
						<li class="item5">
							<h4>Energy boost bars</h4>
							<p>To be as powerful as Suárez</p>
							<a href="./recipes5" class="LPELP_calltoaction">See recipe</a>
							<div class="wrapImage">
								<img src="{base_url}assets/images/suarez.png" alt="">
							</div>
						</li>
					</ul>
				</section>
			</div>
			<!-- END LPELP_recipes -->

			<!-- LPELP_smoothies -->
			<div id="LPELP_HomeSmoothies" class="LPELP_block LPELP_smoothies">
				<div class="LPELP_block_content">
					<h2>The <strong>Winners' Smoothies</strong></h2>
					<img src="{base_url}assets/images/background_smooties.jpg">
					<a href="./smoothies" class="LPELP_calltoaction">See recipes</a>
				</div>
				<ul class="cartoons">
					<li class="item1"></li>
					<li class="item2"></li>
					<li class="item3"></li>
					<li class="item4"></li>
					<li class="item5"></li>
				</ul>
			</div>
			<!-- END LPELP_smoothies -->

		</section>
		<!-- END LPELP_content -->

		<!-- LPELP_features -->
		<div id="LPELP_features" class="LPELP_block LPELP_mainBlock">
			<h2>Features that help to <strong>Eat like A Pro</strong></h2>
			<div id="LPELP_featureList" class="carrusel">
				<div class="wrapList">
					<ul>
						<li class="item1">
							<a href="https://www.youtube.com/watch?v=s4YxSb4hr7c" data-playerId="s4YxSb4hr7c" class="calltoaction playVideo">
								<span class="playBtn"></span>
								<img src="{base_url}assets/images/feature_01.jpg" alt="">
							</a>
							<div class="wrap">
								<h4>Surf®</h4>
								<p>Surf® bakes every inch of the tray evenly and cooks everything up to 30% faster. It also allows you to cook at different levels without mixing odours and flavours!</p>
							</div>
						</li>
						<li class="item2">
							<a href="https://www.youtube.com/watch?v=KBMfEXGW7sk" data-playerId="KBMfEXGW7sk" class="calltoaction playVideo">
								<span class="playBtn"></span>
								<img src="{base_url}assets/images/feature_02.jpg" alt="">
							</a>
							<div class="wrap">
								<h4>Everfresh+&reg; technology</h4>
								<p>Beko refrigerators with EverFresh+® technology helps keep your fruits and vegetables fresh for up to 30 days thanks to perfect humidity and moisture control.</p>
							</div>
						</li>
						<li class="item3">
							<a href="https://www.youtube.com/watch?v=ObGlFUJvFns" data-playerId="ObGlFUJvFns" class="calltoaction playVideo">
								<span class="playBtn"></span>
								<img src="{base_url}assets/images/feature_03.jpg" alt="">
							</a>
							<div class="wrap">
								<h4>PizzaPro™</h4>
								<p>Homemade pizza can be fresh and healthy if you use fresh and healthy ingredients. Thanks to PizzaPro™ you can cook like a true Italian in about 4 to 7 minutes!</p>
							</div>
						</li>
						<li class="item4">
							<a href="#" data-playerId="" class="calltoaction playVideo noPlay">
								<span class="playBtn"></span>
								<img src="{base_url}assets/images/feature_04.jpg" alt="">
							</a>
							<div class="wrap">
								<h4>Vacuum <br>Blender</h4>
								<p>Thanks to vacuuming technology, air is removed from the jug before blending that prevents oxidation. Vitamins and nutrients are preserved at their most.</p>
							</div>
						</li>
						<li class="item5">
							<a href="#" data-playerId="" class="calltoaction playVideo noPlay">
								<span class="playBtn"></span>
								<img src="{base_url}assets/images/feature_05.jpg" alt="">
							</a>
							<div class="wrap">
								<h4>BekoChef®</h4>
								<p>BekoChef® has 12 levels of speed, it’s incredibly easy to use and with its’ accessories no cooking venture is off limits. Every homemade recipe heroes’ dream!</p>
							</div>
						</li>
						<li class="item6">
							<a href="#" data-playerId="" class="calltoaction playVideo noPlay">
								<span class="playBtn"></span>
								<img src="{base_url}assets/images/feature_06.jpg" alt="">
							</a>
							<div class="wrap">
								<h4>Power <br>Blender</h4>
								<p>With high motor power, you can blend even the hardest fruits and vegetables with their most nutritious parts: seeds and peels.</p>
							</div>
						</li>
					</ul>
				</div>
				<nav class="pagination"></nav>
				<nav class="steps">
					<a href="#" class="prev" data-type="right">Prev</a>
					<a href="#" class="next" data-type="left">Next</a>
				</nav>
			</div>
		</div>
		<!-- END LPELP_features -->

	</section>