	<section id="LP-EATLIKEPRO-MISSION" class="LPELP_mainSection">

		<!-- LPELP_content -->
		<section class="LPELP_content">
			<!-- LPELP_video -->
			<div class="LPELP_block LPELP_video">
				<div class="LPELP_video_player"></div>
				<div class="LPELP_block_content">
					<a href="https://www.youtube.com/watch?v=YDsrpNDxoWA" data-playerId="YDsrpNDxoWA" class="LPELP_playBtn LPELP_calltoaction playVideo"><img src="{base_url}assets/images/playerBtn.png"></a>
					<p>By 2025, 70 million children <br>around the world will suffer from obesity</p>
					<h1>#EatLikeAPro</h1>
				</div>
			</div>
			<!-- END LPELP_video -->

			<!-- LPELP_mission -->
			<div class="LPELP_block LPELP_mission">
				<div class="LPELP_block_content">
					<pre>“Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet”</pre>
					<p class="author">- CEO Beko</p>
					<h2>Our mission</h2>
					<p>Every year, statistics show children are eating worse: less fresh vegetables, fruits and fish, and more fat and sugar. </p>
				</div>
			</div>
			<!-- END LPELP_mission -->

			<div class="LPELP_block LPELP_bigPicture">
				<header class="bigPicture_header"></header>
			</div>

			<!-- LPELP_mission_content -->
			<section class="LPELP_block LPELP_mission_content">
				<div class="LPELP_wrap">
					<p class="important">By the year 2025, there will be over 70 million children in the world suffering from obesity.*</p>
					<p>However  feeding your children healthy food is a tough challenge.</p>
					<p>That’s why Beko launches Eat Like A Pro, a global initiative to help parents around the world feed their children more healthy food.</p>
					<p>As official partner of FC Barcelona, Beko knows exactly what the top players in the world eat every day in order to perform at their best. </p>
					<p>By showing children what their heroes eat, we can make healthy food exciting.</p>
					<img src="{base_url}assets/images/mission_01.jpg">
					<p>And with our wide range of appliances featuring smart and helpful technologies to deliver healthy food at its  best, Beko is proud to support families all around the world.</p>
					<p><strong>We are Beko.<br> We are FC Barcelona’s first choice for home appliances.<br> Because, to play at your best, it is time to Eat Like a Pro.</strong></p>
					<p class="note">*Source: World Health Organization</p>
				</div>
			</section>
			<!-- END LPELP_mission_content -->


		</section>
		<!-- END LPELP_content -->

		<!-- LPELP_RelatedRecipes -->
		<section class="LPELP_block LPELP_RelatedRecipes">
			<h3>Healthy recipes <strong>for success</strong></h3>
			<div id="recipeList" class="carrusel">
				<div class="wrapList">
					<ul>
						<li class="item1">
							<h4>Quick recovery healthy pizza</h4>
							<p>To be as fast as Messi</p>
							<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
							<div class="wrapImage">
								<img src="{base_url}assets/images/messi.png" alt="">
							</div>
						</li>
						<li class="item2">
							<h4>Mind sharpener gazpacho</h4>
							<p>To become as acurate as Rakitic</p>
							<a href="./recipes2" class="LPELP_calltoaction">See recipe</a>
							<div class="wrapImage">
								<img src="{base_url}assets/images/rakitic.png" alt="">
							</div>
						</li>
						<li class="item3">
							<h4>Muscle builder roast-beef rolls</h4>
							<p>To be strong like Umtiti</p>
							<a href="./recipes3" class="LPELP_calltoaction">See recipe</a>
							<div class="wrapImage">
								<img src="{base_url}assets/images/umtiti.png" alt="">
							</div>
						</li>
						<li class="item4">
							<h4>All-powerful banana and avocado pudding</h4>
							<p>To jump as high as Piqué</p>
							<a href="./recipes4" class="LPELP_calltoaction">See recipe</a>
							<div class="wrapImage">
								<img src="{base_url}assets/images/pique.png" alt="">
							</div>
						</li>
						<li class="item5">
							<h4>Energy boost bars</h4>
							<p>To be as powerful as Suárez</p>
							<a href="./recipes5" class="LPELP_calltoaction">See recipe</a>
							<div class="wrapImage">
								<img src="{base_url}assets/images/suarez.png" alt="">
							</div>
						</li>
					</ul>
				</div>
				<nav class="pagination"></nav>
				<nav class="steps">
					<a href="#" class="prev" data-type="right">Prev</a>
					<a href="#" class="next" data-type="left">Next</a>
				</nav>
			</div>
		</section>
		<!-- END LPELP_RelatedRecipes -->

	</section>