	<!-- LP-EATLIKEPRO-RECIPES -->
	<section id="LP-EATLIKEPRO-RECIPES" class="LPELP_mainSection recipes_04">

		<!-- LPELP_content -->
		<section class="LPELP_content">

			<!-- LPELP_recipesPage -->
			<div class="LPELP_block LPELP_recipesPage">

				<!-- HEADER PAGE -->
				<header>
					<div class="LPELP_block_content">
						<h2>Energy <br>boost bars</h2>
						<p class="author"><span>To be as powerful as Suárez</span></p>
						<img src="{base_url}assets/images/recipe_04.png">
						<p><span>Created by <strong>FC Barcelona Nutritionists</strong></span></p>
					</div>
				</header>
				<!-- END HEADER -->

				<!-- LPELP_benefits -->
				<section class="LPELP_subsection LPELP_benefits">
					<h3>Nutritional facts and Benefits</h3>
					<div class="LPELP_wrap">
						<ul>
							<li>Flaxseeds: Minerals not only build your bones, but give you energy. Flaxseeds contain 7 times more potassium than a banana and more calcium than a cup of skim milk!</li>
							<li>Chia seeds: Chia seeds produce the top-notch energy you need to fuel busy work days through a powerful trifecta of nutrients. They give you stable energy because of their great ratio of protein, fats and fibre combined with the fact that they’re low-carb.</li>
							<li>Sesame seeds</li>
							<li>Healthy sugars from fruits</li>
						</ul>
						<p>These energy bars are great for an after-school snack! All the seeds are high in iron, calcium, vitamins and minerals that produce the top-notch energy we need to fuel our bodies. These bars are super tasty and will give your little ones the energy they need to keep busy until dinner time.</p>
					</div>
				</section>
				<!-- END LPELP_benefits -->

				<!-- LPELP_elaboration -->
				<section class="LPELP_subsection LPELP_elaboration twoItems">
					<h3>Elaboration</h3>
					<div class="LPELP_wrap">
						<ul class="elaborationIcos">
							<li class="clock">25 min + refrigerate 1h</li>
							<li class="bars">10 bars</li>
						</ul>
					</div>
				</section>
				<!-- END LPELP_elaboration -->

				<!-- LPELP_ingredients -->
				<section class="LPELP_subsection LPELP_ingredients">
					<div class="LPELP_wrap">
						<h3>Ingredients</h3>
						<div class="LPELP_listWrap">
							<ul>
								<li>150g (1 cup) of cereal</li>
								<li>1 cup of milk</li>
								<li>25g flaxseeds, chia, hemp seeds</li>
								<li>25g toasted sesame seeds </li>
								<li>25g prunes </li>
								<li>50g dried figs </li>
								<li>3tbsp sunflower oil</li>
								<li>6tbsp honey</li>
							</ul>
						</div>
						<img src="{base_url}assets/images/ingredients_04.jpg">
					</div>
				</section>
				<!-- END LPELP_ingredients -->

				<!-- LPELP_odd -->
				<section class="LPELP_subsection LPELP_instructions LPELP_odd">
					<div class="LPELP_wrap">
						<h3><span>instructions</span></h3>
						<ol>
							<li>Preheat oven at 180º C.</li>
							<li>Chop the dried fruits into small pieces and combine them with the cereal and seeds.</li>
							<li>Add the milk, sunflower oil and honey to the mixture and combine.</li>
							<li>Pour the mix into a silicon oven pan and press it until creating a flat surface.</li>
							<li>Bake for 15 minutes.</li>
							<li>Cut into squares before it cools.</li>
						</ol>
					</div>
				</section>
				<!-- END LPELP_odd -->

			</div>
			<!-- END LPELP_recipesPage -->

			<!-- LPELP_rrss -->
			<section class="LPELP_subsection LPELP_rrss">
				<div class="LPELP_wrap">
					<ul>
						<li class="facebook"><a href="#" class="shareRRSS" data-type="facebook" data-text="{base_url}recipes4">Follow us on Facebook</a></li>
						<li class="twitter"><a href="#" class="shareRRSS" data-type="twitter" data-url="{base_url}recipes4" data-text="Energy boost bars to be as powerful as Suárez - BEKO">Follow us on twitter</a></li>
					</ul>
				</div>
			</section>
			<!-- END LPELP_rrss -->

		<!-- LPELP_features -->
		<div id="LPELP_features" class="LPELP_block LPELP_mainBlock">
			<h2>The technologies to <strong>cook like a pro</strong></h2>
			<div id="LPELP_featureList" class="carrusel recipesList">
				<div class="wrapList">
					<ul>
						<li class="item1">
							<a href="https://www.youtube.com/watch?v=s4YxSb4hr7c" data-playerId="s4YxSb4hr7c" class="calltoaction playVideo">
								<span class="playBtn"></span>
								<img src="{base_url}assets/images/feature_01.jpg" alt="">
							</a>
							<div class="wrap">
								<h4>Surf®</h4>
								<p>Thanks to Surf® technology, your energy bars will be cooked evenly and you can even bake the salmon you’re having for lunch at the same time, and no flavours or odours will get mixed!</p>
							</div>
						</li>
					</ul>
				</div>
				<nav class="pagination"></nav>
				<nav class="steps">
					<a href="#" class="prev" data-type="right">Prev</a>
					<a href="#" class="next" data-type="left">Next</a>
				</nav>
			</div>
		</div>
		<!-- END LPELP_features -->

			<!-- LPELP_RelatedRecipes -->
			<section class="LPELP_block LPELP_RelatedRecipes">
				<h3>More <strong>Healthy recipes for success</strong></h3>
				<div id="recipeList" class="carrusel">
					<div class="wrapList">
						<ul>
							<li class="item1">
								<h4>Mind sharpener gazpacho</h4>
								<p>To become as acurate as Rakitic</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/rakitic.png" alt="">
								</div>
							</li>
							<li class="item2">
								<h4>Muscle builder roast-beef rolls</h4>
								<p>To be strong like Umtiti</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/umtiti.png" alt="">
								</div>
							</li>
							<li class="item3">
								<h4>All-powerful banana and avocado pudding</h4>
								<p>To jump as high as Piqué</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/pique.png" alt="">
								</div>
							</li>
							<li class="item4">
								<h4>Energy boost bars</h4>
								<p>To be as powerful as Suárez</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/suarez.png" alt="">
								</div>
							</li>
						</ul>
					</div>
					<nav class="pagination"></nav>
					<nav class="steps">
						<a href="#" class="prev" data-type="right">Prev</a>
						<a href="#" class="next" data-type="left">Next</a>
					</nav>
				</div>
			</section>
			<!-- END LPELP_RelatedRecipes -->

		</section>
		<!-- END LPELP_content -->

	</section>
	<!-- END LP-EATLIKEPRO-RECIPES -->