	<!-- LP-EATLIKEPRO-RECIPES -->
	<section id="LP-EATLIKEPRO-RECIPES" class="LPELP_mainSection recipes_03">

		<!-- LPELP_content -->
		<section class="LPELP_content">

			<!-- LPELP_recipesPage -->
			<div class="LPELP_block LPELP_recipesPage">

				<!-- HEADER PAGE -->
				<header>
					<div class="LPELP_block_content">
						<h2>All-Powerful banana <br>and avocado pudding</h2>
						<p class="author"><span>To jump as high as Piqué</span></p>
						<img src="{base_url}assets/images/recipe_03.png">
						<p><span>Created by <strong>FC Barcelona Nutritionists</strong></span></p>
					</div>
				</header>
				<!-- END HEADER -->

				<!-- LPELP_benefits -->
				<section class="LPELP_subsection LPELP_benefits">
					<h3>Nutritional facts and Benefits</h3>
					<div class="LPELP_wrap">
						<ul>
							<li>Healthy fats from avocados and bananas give strength to the muscles and the brain.</li>
							<li>Potassium from the banana helps to regulate blood pressure, protects against loss of muscle mass, preserves bone mineral density, reduces anxiety and stress.</li>
						</ul>
						<p>This sweet treat is delicious and really nutritious! Bananas and avocados contain healthy fats, the kind that give strength to both our muscles and our brain. So, this tasty dish will keep your kids strong and on top of their game at all times.</p>
					</div>
				</section>
				<!-- END LPELP_benefits -->

				<!-- LPELP_elaboration -->
				<section class="LPELP_subsection LPELP_elaboration twoItems">
					<h3>Elaboration</h3>
					<div class="LPELP_wrap">
						<ul class="elaborationIcos">
							<li class="clock">10 min + refrigerate 1h</li>
							<li class="people">2 persons</li>
						</ul>
					</div>
				</section>
				<!-- END LPELP_elaboration -->

				<!-- LPELP_ingredients -->
				<section class="LPELP_subsection LPELP_ingredients">
					<div class="LPELP_wrap">
						<h3>Ingredients</h3>
						<div class="LPELP_listWrap">
							<ul>
								<li>1 small banana</li>
								<li>100g fresh cheese (creamy) or non-fat protein yoghurt</li>
								<li>30g (2tbsp) condensed milk</li>
								<li>100g avocado, healthy fat like the kind in olive oil</li>
								<li>A little bit of lemon juice</li>
							</ul>
						</div>
						<img src="{base_url}assets/images/ingredients_03.jpg">
					</div>
				</section>
				<!-- END LPELP_ingredients -->

				<!-- LPELP_odd -->
				<section class="LPELP_subsection LPELP_instructions LPELP_odd">
					<div class="LPELP_wrap">
						<h3><span>Instructions</span></h3>
						<ol>
							<li>Pour everything into a blender and blast for 30 to 60 seconds, until smooth.</li>
							<li>Pour into two serving glasses and refrigerate for at least one hour.</li>
							<li>Serve with caramelized sugar.</li>
						</ol>
					</div>
				</section>
				<!-- END LPELP_odd -->

			</div>
			<!-- END LPELP_recipesPage -->

			<!-- LPELP_rrss -->
			<section class="LPELP_subsection LPELP_rrss">
				<div class="LPELP_wrap">
					<ul>
						<li class="facebook"><a href="#" class="shareRRSS" data-type="facebook" data-text="{base_url}recipes3">Follow us on Facebook</a></li>
						<li class="twitter"><a href="#" class="shareRRSS" data-type="twitter" data-url="{base_url}recipes3" data-text="All-Powerful banana and avocado pudding to jump as high as Piqué - BEKO">Follow us on twitter</a></li>
					</ul>
				</div>
			</section>
			<!-- END LPELP_rrss -->

		<!-- LPELP_features -->
		<div id="LPELP_features" class="LPELP_block LPELP_mainBlock">
			<h2>The technologies to <strong>cook like a pro</strong></h2>
			<div id="LPELP_featureList" class="carrusel recipesList">
				<div class="wrapList">
					<ul>
						<li class="item1">
							<a href="#" data-playerId="" class="calltoaction playVideo noPlay">
								<span class="playBtn"></span>
								<img src="{base_url}assets/images/feature_06.jpg" alt="">
							</a>
							<div class="wrap">
								<h4>Power <br>Blender</h4>
								<p>Feel free to use frozen bananas and avocado in this recipe for added freshness. With Beko Power Blender, you can perfectly blend the hardest fruits, even frozen ones!</p>
							</div>
						</li>
					</ul>
				</div>
				<nav class="pagination"></nav>
				<nav class="steps">
					<a href="#" class="prev" data-type="right">Prev</a>
					<a href="#" class="next" data-type="left">Next</a>
				</nav>
			</div>
		</div>
		<!-- END LPELP_features -->

			<!-- LPELP_RelatedRecipes -->
			<section class="LPELP_block LPELP_RelatedRecipes">
				<h3>More <strong>Healthy recipes for success</strong></h3>
				<div id="recipeList" class="carrusel">
					<div class="wrapList">
						<ul>
							<li class="item1">
								<h4>Mind sharpener gazpacho</h4>
								<p>To become as acurate as Rakitic</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/rakitic.png" alt="">
								</div>
							</li>
							<li class="item2">
								<h4>Muscle builder roast-beef rolls</h4>
								<p>To be strong like Umtiti</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/umtiti.png" alt="">
								</div>
							</li>
							<li class="item3">
								<h4>All-powerful banana and avocado pudding</h4>
								<p>To jump as high as Piqué</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/pique.png" alt="">
								</div>
							</li>
							<li class="item4">
								<h4>Energy boost bars</h4>
								<p>To be as powerful as Suárez</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/suarez.png" alt="">
								</div>
							</li>
						</ul>
					</div>
					<nav class="pagination"></nav>
					<nav class="steps">
						<a href="#" class="prev" data-type="right">Prev</a>
						<a href="#" class="next" data-type="left">Next</a>
					</nav>
				</div>
			</section>
			<!-- END LPELP_RelatedRecipes -->

		</section>
		<!-- END LPELP_content -->

	</section>
	<!-- END LP-EATLIKEPRO-RECIPES -->