	<!-- LP-EATLIKEPRO-RECIPES -->
	<section id="LP-EATLIKEPRO-RECIPES" class="LPELP_mainSection recipes_01">

		<!-- LPELP_content -->
		<section class="LPELP_content">

			<!-- LPELP_recipesPage -->
			<div class="LPELP_block LPELP_recipesPage">

				<!-- HEADER PAGE -->
				<header>
					<div class="LPELP_block_content">
						<h2>Quick recovery <br>healthy pizza</h2>
						<p class="author"><span>To be as fast as messi</span></p>
						<img src="{base_url}assets/images/recipe_01.png">
						<p><span>Created by <strong>FC Barcelona Nutritionists</strong></span></p>
					</div>
				</header>
				<!-- END HEADER -->

				<!-- LPELP_benefits -->
				<section class="LPELP_subsection LPELP_benefits">
					<h3>Nutritional facts and Benefits</h3>
					<div class="LPELP_wrap">
						<ul>
							<li>Low fat</li>
							<li>Adapted for after physical activity</li>
							<li>Ideal for recovery: eat after training to improve strength and speed in the next effort</li>
						</ul>
						<p>The carbohydrates found in the bread along with the protein-packed cheese from this recipe will help your children recover after a busy day of running up and down. Not only will they feel much better, but these nutrients also help to improve strength and speed in the next effort.</p>
					</div>
				</section>
				<!-- END LPELP_benefits -->

				<!-- LPELP_elaboration -->
				<section class="LPELP_subsection LPELP_elaboration">
					<h3>Elaboration</h3>
					<div class="LPELP_wrap">
						<ul class="elaborationIcos">
							<li class="clock">90 min</li>
							<li class="oven">Oven needed</li>
							<li class="people">2 persons</li>
						</ul>
					</div>
				</section>
				<!-- END LPELP_elaboration -->

				<!-- LPELP_ingredients -->
				<section class="LPELP_subsection LPELP_ingredients">
					<div class="LPELP_wrap">
						<h3>Ingredients</h3>
						<div class="LPELP_listWrap">
							<ul>
								<li>330 g flour</li>
								<li>200 ml warm water</li>
								<li>18 g fresh yeast</li>
								<li>17 g olive oil</li>
								<li>7 g salt</li>
								<li>150 g low-fat grated cheese</li>
								<li>250 g natural canned tomatoes</li>
								<li>Oregano</li>
							</ul>
						</div>
						<img src="{base_url}assets/images/ingredients_01.jpg">
					</div>
				</section>
				<!-- END LPELP_ingredients -->

				<!-- LPELP_odd -->
				<section class="LPELP_subsection LPELP_instructions LPELP_odd">
					<div class="LPELP_wrap">
						<h3><span>Instructions<br>(for the dough)</span></h3>
						<ol>
							<li>Pour the water into a large bowl; sprinkle with yeast and let stand until foamy, about 5 minutes. Whisk in the oil and salt. Add flour and stir in your BekoChef® Kitchen Machine  until a sticky dough forms.</li>
							<li>Lightly brush another large bowl with a little olive oil. Place dough inside and drizzle a little oil over the top. Cover with plastic wrap and set aside in a warm, draft-free place until dough has doubled in size, about 1 hour.</li>
							<li>Turn out onto a lightly floured work surface and gently knead 1 or 2 times, forming into a round. Let rest for about 10 more minutes.</li>
						</ol>
					</div>
				</section>
				<!-- END LPELP_odd -->

				<!-- LPELP_even -->
				<section class="LPELP_subsection LPELP_instructions LPELP_even">
					<div class="LPELP_wrap">
						<h3><span>Instructions<br>(for the PIZZA)</span></h3>
						<ol>
							<li>Stretch the dough into the desired shape</li>
							<li>Preheat the oven Beko Combimicrowave oven at 210 C.</li>
							<li>Combine tomatoes with the oregano to make the sauce. </li>
							<li>Spread sauce over the pizza dough</li>
							<li>Add grated cheese and chosen toppings</li>
							<li>Place your pizza on the Beko pizza stone and get your pizza in 5 mins.</li>
						</ol>
					</div>
				</section>
				<!-- END LPELP_even -->

			</div>
			<!-- END LPELP_recipesPage -->

			<!-- LPELP_rrss -->
			<section class="LPELP_subsection LPELP_rrss">
				<div class="LPELP_wrap">
					<ul>
						<li class="facebook"><a href="#" class="shareRRSS" data-type="facebook" data-text="{base_url}recipes1">Follow us on Facebook</a></li>
						<li class="twitter"><a href="#" class="shareRRSS" data-type="twitter" data-url="{base_url}recipes1" data-text="Quick recovery healthy pizza to be as fast as Messi - BEKO">Follow us on twitter</a></li>
					</ul>
				</div>
			</section>
			<!-- END LPELP_rrss -->

		<!-- LPELP_features -->
		<div id="LPELP_features" class="LPELP_block LPELP_mainBlock">
			<h2>The technologies to <strong>cook like a pro</strong></h2>
			<div id="LPELP_featureList" class="carrusel recipesList">
				<div class="wrapList">
					<ul>
						<li class="item1">
							<a href="https://www.youtube.com/watch?v=ObGlFUJvFns" data-playerId="ObGlFUJvFns" class="calltoaction playVideo">
								<span class="playBtn"></span>
								<img src="{base_url}assets/images/feature_03.jpg" alt="">
							</a>
							<div class="wrap">
								<h4>PizzaPro™</h4>
								<p>Making a healthy and nutritious pizza couldn’t be easier, with PizzaPro™ you can have a stone-oven style pizza in less than 10 minutes!</p>
							</div>
						</li>
						<li class="item2">
							<a href="#" data-playerId="" class="calltoaction playVideo noPlay">
								<span class="playBtn"></span>
								<img src="{base_url}assets/images/feature_05.jpg" alt="">
							</a>
							<div class="wrap">
								<h4>BekoChef®</h4>
								<p>If you’re lacking time and making the pizza dough sounds a little too tricky, BekoChef® will help you get everything done perfectly and in time!</p>
							</div>
						</li>
					</ul>
				</div>
				<nav class="pagination"></nav>
				<nav class="steps">
					<a href="#" class="prev" data-type="right">Prev</a>
					<a href="#" class="next" data-type="left">Next</a>
				</nav>
			</div>
		</div>
		<!-- END LPELP_features -->

			<!-- LPELP_RelatedRecipes -->
			<section class="LPELP_block LPELP_RelatedRecipes">
				<h3>More <strong>Healthy recipes for success</strong></h3>
				<div id="recipeList" class="carrusel">
					<div class="wrapList">
						<ul>
							<li class="item1">
								<h4>Mind sharpener gazpacho</h4>
								<p>To become as acurate as Rakitic</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/rakitic.png" alt="">
								</div>
							</li>
							<li class="item2">
								<h4>Muscle builder roast-beef rolls</h4>
								<p>To be strong like Umtiti</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/umtiti.png" alt="">
								</div>
							</li>
							<li class="item3">
								<h4>All-powerful banana and avocado pudding</h4>
								<p>To jump as high as Piqué</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/pique.png" alt="">
								</div>
							</li>
							<li class="item4">
								<h4>Energy boost bars</h4>
								<p>To be as powerful as Suárez</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/suarez.png" alt="">
								</div>
							</li>
						</ul>
					</div>
					<nav class="pagination"></nav>
					<nav class="steps">
						<a href="#" class="prev" data-type="right">Prev</a>
						<a href="#" class="next" data-type="left">Next</a>
					</nav>
				</div>
			</section>
			<!-- END LPELP_RelatedRecipes -->

		</section>
		<!-- END LPELP_content -->

	</section>
	<!-- END LP-EATLIKEPRO-RECIPES -->