	<!-- LP-EATLIKEPRO-RECIPES -->
	<section id="LP-EATLIKEPRO-RECIPES" class="LPELP_mainSection recipes_02">

		<!-- LPELP_content -->
		<section class="LPELP_content">

			<!-- LPELP_recipesPage -->
			<div class="LPELP_block LPELP_recipesPage">

				<!-- HEADER PAGE -->
				<header>
					<div class="LPELP_block_content">
						<h2>Muscle Builder <br>Roast Beef</h2>
						<p class="author"><span>To be strong like umtiti</span></p>
						<img src="{base_url}assets/images/recipe_02.png">
						<p><span>Created by <strong>FC Barcelona Nutritionists</strong></span></p>
					</div>
				</header>
				<!-- END HEADER -->

				<!-- LPELP_benefits -->
				<section class="LPELP_subsection LPELP_benefits">
					<h3>Nutritional facts and Benefits</h3>
					<div class="LPELP_wrap">
						<ul>
							<li>Prevents anaemia and improves speed and strength</li>
							<li>Iron is essential for the athletes’ performance</li>
							<li>The iron found in the red meat, the iron in the egg yolk and the vegetable iron found in the spinach and pine nuts, dressed with lemon and orange to improve its’ absorption.</li>
						</ul>
						<p>Iron has amazing health benefits: not only does it improve speed and strength but it also prevents certain illnesses, like anaemia. This recipe is full of iron-packed ingredients and it tastes amazing, your kids won’t even realise it’s got veggies in it.</p>
					</div>
				</section>
				<!-- END LPELP_benefits -->

				<!-- LPELP_elaboration -->
				<section class="LPELP_subsection LPELP_elaboration twoItems">
					<h3>Elaboration</h3>
					<div class="LPELP_wrap">
						<ul class="elaborationIcos">
							<li class="clock">55 min. (20 prep + 40 bake)</li>
							<li class="people">4 persons</li>
						</ul>
					</div>
				</section>
				<!-- END LPELP_elaboration -->

				<!-- LPELP_ingredients -->
				<section class="LPELP_subsection LPELP_ingredients">
					<div class="LPELP_wrap">
						<h3>Ingredients</h3>
						<div class="LPELP_listWrap">
							<ul>
								<li>500g sliced roast beef</li>
								<li>100g of chopped fresh spinach</li>
								<li>2 chopped hard boiled eggs a handful of pine nuts</li>
							</ul>
							<h4>For the vinaigrette:</h4>
							<ul>
								<li>1/3 cup Olive oil</li>
								<li>Juice of half a lemon</li>
								<li>Juice of half a large orange</li>
								<li>Salt, to taste</li>
							</ul>
							<h4>For the topping:</h4>
							<ul>
								<li>Parmesan shavings to taste</li>
							</ul>
						</div>
						<img src="{base_url}assets/images/ingredients_02.jpg">
					</div>
				</section>
				<!-- END LPELP_ingredients -->

			</div>
			<!-- END LPELP_recipesPage -->

			<!-- LPELP_rrss -->
			<section class="LPELP_subsection LPELP_rrss">
				<div class="LPELP_wrap">
					<ul>
						<li class="facebook"><a href="#" class="shareRRSS" data-type="facebook" data-text="{base_url}recipes2">Follow us on Facebook</a></li>
						<li class="twitter"><a href="#" class="shareRRSS" data-type="twitter" data-url="{base_url}recipes2" data-text="Muscle Builder Roast Beef to be strong like umtiti - BEKO">Follow us on twitter</a></li>
					</ul>
				</div>
			</section>
			<!-- END LPELP_rrss -->

		<!-- LPELP_features -->
		<div id="LPELP_features" class="LPELP_block LPELP_mainBlock">
			<h2>The technologies to <strong>cook like a pro</strong></h2>
			<div id="LPELP_featureList" class="carrusel recipesList">
				<div class="wrapList">
					<ul>
						<li class="item1">
							<a href="https://www.youtube.com/watch?v=KBMfEXGW7sk" data-playerId="KBMfEXGW7sk" class="calltoaction playVideo">
								<span class="playBtn"></span>
								<img src="{base_url}assets/images/feature_02.jpg" alt="">
							</a>
							<div class="wrap">
								<h4>Everfresh+&reg; technology</h4>
								<p>There’s no need to worry about the leftover spinach from this recipe going to waste, EverFresh+® technology keeps your produce fresh up to 30 days!</p>
							</div>
						</li>
					</ul>
				</div>
				<nav class="pagination"></nav>
				<nav class="steps">
					<a href="#" class="prev" data-type="right">Prev</a>
					<a href="#" class="next" data-type="left">Next</a>
				</nav>
			</div>
		</div>
		<!-- END LPELP_features -->

			<!-- LPELP_RelatedRecipes -->
			<section class="LPELP_block LPELP_RelatedRecipes">
				<h3>More <strong>Healthy recipes for success</strong></h3>
				<div id="recipeList" class="carrusel">
					<div class="wrapList">
						<ul>
							<li class="item1">
								<h4>Mind sharpener gazpacho</h4>
								<p>To become as acurate as Rakitic</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/rakitic.png" alt="">
								</div>
							</li>
							<li class="item2">
								<h4>Muscle builder roast-beef rolls</h4>
								<p>To be strong like Umtiti</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/umtiti.png" alt="">
								</div>
							</li>
							<li class="item3">
								<h4>All-powerful banana and avocado pudding</h4>
								<p>To jump as high as Piqué</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/pique.png" alt="">
								</div>
							</li>
							<li class="item4">
								<h4>Energy boost bars</h4>
								<p>To be as powerful as Suárez</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/suarez.png" alt="">
								</div>
							</li>
						</ul>
					</div>
					<nav class="pagination"></nav>
					<nav class="steps">
						<a href="#" class="prev" data-type="right">Prev</a>
						<a href="#" class="next" data-type="left">Next</a>
					</nav>
				</div>
			</section>
			<!-- END LPELP_RelatedRecipes -->

		</section>
		<!-- END LPELP_content -->

	</section>
	<!-- END LP-EATLIKEPRO-RECIPES -->