	<!-- LP-EATLIKEPRO-RECIPES -->
	<section id="LP-EATLIKEPRO-RECIPES" class="LPELP_mainSection recipes_05">

		<!-- LPELP_content -->
		<section class="LPELP_content">

			<!-- LPELP_recipesPage -->
			<div class="LPELP_block LPELP_recipesPage">

				<!-- HEADER PAGE -->
				<header>
					<div class="LPELP_block_content">
						<h2>Mind Sharpener <br>Gazpacho with Tuna</h2>
						<p class="author"><span>to become as accurate as Rakitic</span></p>
						<img src="{base_url}assets/images/recipe_05.png">
						<p><span>Created by <strong>FC Barcelona Nutritionists</strong></span></p>
					</div>
				</header>
				<!-- END HEADER -->

				<!-- LPELP_benefits -->
				<section class="LPELP_subsection LPELP_benefits">
					<h3>Nutritional facts and Benefits</h3>
					<div class="LPELP_wrap">
						<ul>
							<li>Contains Omega 3 fat that improves physical and mental performance, helping with concentration and reflexes.</li>
							<li>Vitamins and antioxidants</li>
						</ul>
						<p>Between football practice, school projects and afternoons at the park sometimes kids need a little boost. Gazpacho is rich in Omega 3 fat that improves physical and mental performance. This recipe will help you children stay focused and fast on their feet!</p>
					</div>
				</section>
				<!-- END LPELP_benefits -->

				<!-- LPELP_elaboration -->
				<section class="LPELP_subsection LPELP_elaboration twoItems">
					<h3>Elaboration</h3>
					<div class="LPELP_wrap">
						<ul class="elaborationIcos">
							<li class="clock">5 min</li>
							<li class="people">2 persons</li>
						</ul>
					</div>
				</section>
				<!-- END LPELP_elaboration -->

				<!-- LPELP_ingredients -->
				<section class="LPELP_subsection LPELP_ingredients">
					<div class="LPELP_wrap">
						<h3>Ingredients</h3>
						<div class="LPELP_listWrap">
							<ul>
								<li>2 slices of stale bread</li>
								<li>70ml extra virgin olive oil</li>
								<li>5 ripe tomatoes and 50g of green pepper: vitamins, antioxidants and beta-carotene</li>
								<li>1 garlic clove</li>
								<li>Water, to taste</li>
								<li>2 tbsp. vinegar </li>
								<li>Salt, to taste</li>
								<li>2 cans of tuna packed in water </li>
							</ul>
						</div>
						<img src="{base_url}assets/images/ingredients_05.jpg">
					</div>
				</section>
				<!-- END LPELP_ingredients -->

				<!-- LPELP_odd -->
				<section class="LPELP_subsection LPELP_instructions LPELP_odd">
					<div class="LPELP_wrap">
						<h3><span>Instructions</span></h3>
						<ol>
							<li>Soak the bread for 30 minutes in a bowl with enough water to keep it submerged. Remove from water and squeeze out almost all the moisture.</li>
							<li>Put all ingredients except the tuna in a tall container and blend.</li>
							<li>Pass through a coarse sieve while adding water until obtaining the desired thickness.</li>
							<li>Dress with vinegar and salt.</li>
							<li>Refrigerate and serve really cold.</li>
							<li>Top with tuna.</li>
						</ol>
					</div>
				</section>
				<!-- END LPELP_odd -->

			</div>
			<!-- END LPELP_recipesPage -->

			<!-- LPELP_rrss -->
			<section class="LPELP_subsection LPELP_rrss">
				<div class="LPELP_wrap">
					<ul>
						<li class="facebook"><a href="#" class="shareRRSS" data-type="facebook" data-text="{base_url}recipes5">Follow us on Facebook</a></li>
						<li class="twitter"><a href="#" class="shareRRSS" data-type="twitter" data-url="{base_url}recipes5" data-text="Mind sharpener gazpacho with tuna to become as accurate as Rakitić - BEKO">Follow us on twitter</a></li>
					</ul>
				</div>
			</section>
			<!-- END LPELP_rrss -->

		<!-- LPELP_features -->
		<div id="LPELP_features" class="LPELP_block LPELP_mainBlock">
			<h2>The technologies to <strong>cook like a pro</strong></h2>
			<div id="LPELP_featureList" class="carrusel recipesList">
				<div class="wrapList">
					<ul>
						<li class="item1">
							<a href="#" data-playerId="" class="calltoaction playVideo noPlay">
								<span class="playBtn"></span>
								<img src="{base_url}assets/images/feature_04.jpg" alt="">
							</a>
							<div class="wrap">
								<h4>Vacuum <br>Blender</h4>
								<p>Thanks to vacuuming technology, air is removed from the jug before blending that prevents oxidation. Vitamins and nutrients are preserved at their most.</p>
							</div>
						</li>
						<li class="item2">
							<a href="https://www.youtube.com/watch?v=KBMfEXGW7sk" data-playerId="KBMfEXGW7sk" class="calltoaction playVideo">
								<span class="playBtn"></span>
								<img src="{base_url}assets/images/feature_02.jpg" alt="">
							</a>
							<div class="wrap">
								<h4>Everfresh+&reg; technology</h4>
								<p>There’s no need to worry about the leftover spinach from this recipe going to waste, EverFresh+® technology keeps your produce fresh up to 30 days!</p>
							</div>
						</li>
					</ul>
				</div>
				<nav class="pagination"></nav>
				<nav class="steps">
					<a href="#" class="prev" data-type="right">Prev</a>
					<a href="#" class="next" data-type="left">Next</a>
				</nav>
			</div>
		</div>
		<!-- END LPELP_features -->

			<!-- LPELP_RelatedRecipes -->
			<section class="LPELP_block LPELP_RelatedRecipes">
				<h3>More <strong>Healthy recipes for success</strong></h3>
				<div id="recipeList" class="carrusel">
					<div class="wrapList">
						<ul>
							<li class="item1">
								<h4>Mind sharpener gazpacho</h4>
								<p>To become as acurate as Rakitic</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/rakitic.png" alt="">
								</div>
							</li>
							<li class="item2">
								<h4>Muscle builder roast-beef rolls</h4>
								<p>To be strong like Umtiti</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/umtiti.png" alt="">
								</div>
							</li>
							<li class="item3">
								<h4>All-powerful banana and avocado pudding</h4>
								<p>To jump as high as Piqué</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/pique.png" alt="">
								</div>
							</li>
							<li class="item4">
								<h4>Energy boost bars</h4>
								<p>To be as powerful as Suárez</p>
								<a href="./recipes1" class="LPELP_calltoaction">See recipe</a>
								<div class="wrapImage">
									<img src="{base_url}assets/images/suarez.png" alt="">
								</div>
							</li>
						</ul>
					</div>
					<nav class="pagination"></nav>
					<nav class="steps">
						<a href="#" class="prev" data-type="right">Prev</a>
						<a href="#" class="next" data-type="left">Next</a>
					</nav>
				</div>
			</section>
			<!-- END LPELP_RelatedRecipes -->

		</section>
		<!-- END LPELP_content -->

	</section>
	<!-- END LP-EATLIKEPRO-RECIPES -->