	<section id="LP-EATLIKEPRO-SMOOTIES" class="LPELP_mainSection">

		<!-- LPELP_content -->
		<section class="LPELP_content">

			<!-- LPELP_smoothies -->
			<div id="LPELP_smoothiesPage" class="LPELP_block LPELP_smoothies">
				<div class="LPELP_block_content">
					<nav class="LPELP_rrss">
						<ul>
							<li class="facebook"><a href="#" class="shareRRSS" data-type="facebook" data-text="{base_url}smoothies">Follow us on Facebook</a></li>
							<li class="twitter"><a href="#" class="shareRRSS" data-type="twitter" data-url="{base_url}smoothies" data-text="The winners' smoothies - BEKO">Follow us on twitter</a></li>
						</ul>
					</nav>
					<h2>The <strong>Winners' Smoothies</strong></h2>
					<ul class="LPELP_smoothiesList">
						<li id="item1" class="item active">
							<div class="wrap">
								<header>
									<img src="{base_url}assets/images/author_01.png" class="author">
									<p>Quick, incisive, balanced... Leonel Messi is in top form! Messi Steady Go is rich in vitamin C and minerals thanks to the ultimate ingredients like chili that will make you feel stronger and faster.</p>
								</header>
								<img src="{base_url}assets/images/smoothies_01.gif" class="picture">
								<div class="content">
									<div class="ingredients">
										<h3>Ingredients</h3>
										<ul>
											<li>1 handful spinach leaves</li>
											<li>250 ml of water</li>
											<li>1 handful of dried mulberries</li>
											<li>50 g of cucumber</li>
											<li>&#189; avocado</li>
											<li>Lemon juice</li>
										</ul>
									</div>
									<p class="steps">Chop all the ingredients and blend them with your Beko Power Blender.</p>
									<p class="enjoy">Serve immediately and enjoy!</p>
								</div>
							</div>
						</li>
						<li id="item2" class="item">
							<div class="wrap">
								<header>
									<img src="{base_url}assets/images/author_02.png" class="author">
									<p>The strong Umtiti's prowess in getting the ball up the field is incredible. Colorful berries are vitamin bombs that enrich your day with extra power.</p>
								</header>
								<img src="{base_url}assets/images/smoothies_02.gif" class="picture">
								<div class="content">
									<div class="ingredients">
										<h3>Ingredients</h3>
										<ul>
											<li>450 ml orange juice</li>
											<li>200 g natural yoghurt</li>
											<li>&#189; teaspoon natural vanilla powder</li>
											<li>3-4 hands full of mixed fresh or frozen berries</li>
										</ul>
									</div>
									<p class="steps">Chop all the ingredients and blend them with your Beko Power Blender.</p>
									<p class="enjoy">Serve immediately and enjoy!</p>
								</div>
							</div>
						</li>
						<li id="item3" class="item">
							<div class="wrap">
								<header>
									<img src="{base_url}assets/images/author_03.png" class="author">
									<p>Piqué is famous with his incredible concent ration during the game. Lemons and pinapples that are rich in vitamin C, will help you focus better.</p>
								</header>
								<img src="{base_url}assets/images/smoothies_03.gif" class="picture">
								<div class="content">
									<div class="ingredients">
										<h3>Ingredients</h3>
										<ul>
											<li>1 cup Pineapple</li>
											<li>Apple chunks</li>
											<li>1 Cucumber</li>
											<li>1 Lemon/Lime</li>
											<li>5 leaves Fresh Mint </li>
											<li>&#188; cup coconut water</li>
										</ul>
									</div>
									<p class="steps">Chop all the ingredients and blend them with your Beko Power Blender.</p>
									<p class="enjoy">Serve immediately and enjoy!</p>
								</div>
							</div>
						</li>
						<li id="item4" class="item">
							<div class="wrap">
								<header>
									<img src="{base_url}assets/images/author_04.png" class="author">
									<p>Uruguayan striker Suarez has a seemingly endless energy. The combination of spinach and berries will boost your energy level during the day.</p>
								</header>
								<img src="{base_url}assets/images/smoothies_04.gif" class="picture">
								<div class="content">
									<div class="ingredients">
										<h3>Ingredients</h3>
										<ul>
											<li>200g Blackberry</li>
											<li>100 g Blueberry</li>
											<li>2 handful Baby Spinach</li>
											<li>1 teaspoon Acai Powder</li>
											<li>A squeeze of Lime juice</li>
											<li>3 Dates</li>
											<li>4 Mint Leaves</li>
											<li>&#189; teaspoon Activated Charcoal*</li>
											<li>A Handful Ice Cubes</li>
										</ul>
									</div>
									<p class="steps">Chop all the ingredients and blend them with your Beko Power Blender.</p>
									<p class="enjoy">Serve immediately and enjoy!</p>
									<p class="note">*Be careful with the use of the Activated Charcoal. Start with a pinch and slowly add more as it has a very strong taste.</p>
								</div>
							</div>
						</li>
						<li id="item5" class="item">
							<div class="wrap">
								<header>
									<img src="{base_url}assets/images/author_05.png" class="author">
									<p>Ter Stegen has incredibly sharp reflexes. Perfectly combined ingredients like ginger and carrot help increasing cognitive function.</p>
								</header>
								<img src="{base_url}assets/images/smoothies_05.gif" class="picture">
								<div class="content">
									<div class="ingredients">
										<h3>Ingredients</h3>
										<ul>
											<li>800ml almond milk</li>
											<li>240g apple</li>
											<li>120g carrot</li>
											<li>4 knob of ginger</li>
											<li>4 knob of turmeric</li>
											<li>8 dates</li>
											<li>4 tbsp cashew nuts</li>
											<li>4 tsp cinnamon</li>
										</ul>
									</div>
									<p class="steps">Chop all the ingredients and blend them with your Beko Power Blender.</p>
									<p class="enjoy">Serve immediately and enjoy!</p>
								</div>
							</div>
						</li>
					</ul>
					<nav class="steps">
						<a href="#" class="prev" data-type="right">Prev</a>
						<a href="#" class="next" data-type="left">Next</a>
					</nav>
					<nav class="pagination"></nav>
				</div>
			</div>
			<!-- END LPELP_smoothies -->

		</section>
		<!-- END LPELP_content -->

		<!-- LPELP_product -->
		<div id="LPELP_product" class="LPELP_block LPELP_mainBlock">
			<div class="LPELP_wrap">
				<h2>Appliances used to make <strong>these smoothies</strong></h2>
				<article>
					<img src="{base_url}assets/images/product_01.jpg">
					<div class="wrap">
						<h4>Power <br>blender</h4>
						<p>With its high motor power, you can blend even the hardest fruits and vegetables with their most nutritious parts: seeds and peels. This way you get all the nutrients and vitamins these fruits and veggies have!</p>
					</div>
				</article>
			</div>
		</div>
		<!-- END LPELP_product -->

	</section>