.LPELP_MainContent{font-family:'SohoGothicPro';font-size:16px;color:#0083be}
#LP-EATLIKEPRO-HOME{width:100%}
.LPELP_wrap{width:100%;max-width:1200px;margin:0 auto}
.LPELP_header{background:#0183bf;text-align:center}
.LPELP_header .LPELP_wrap{padding:0}
a.LPELP_logo{display:inline-block;margin-right:35px;padding:11px 0 0}
nav.LPELP_mainNav, nav.LPELP_mainNav ul#LPELP_mainMenu, nav.LPELP_mainNav li.mainItem, nav.LPELP_mainNav li.mainItem > a{display:inline-block;vertical-align:top}
nav.LPELP_mainNav li.mainItem{position:relative}
nav.LPELP_mainNav li.mainItem > a{color:#fff;text-decoration:none;text-transform:uppercase;padding:8px 0 4px;font-size:114%;border-bottom:2px solid transparent;margin:31px 46px}
nav.LPELP_mainNav li.mainItem > a:hover{border-color:#fff}
nav.LPELP_mainNav li.active{background:rgba(255, 255, 255, 0.15)}
ul.LPELP_submenu{display:none;width:25vw;padding:2vw;position:absolute;left:0;z-index:10;background:white;text-align:left}
ul.LPELP_submenu a{text-decoration:none;padding:12px 4%;display:inline-block;border-bottom:1px solid #0183bf;width:92%;color:#0183bf}
ul.LPELP_submenu a:hover, ul.LPELP_submenu a.active{background:#0183bf;color:#fff}
ul.LPELP_submenu a.active{cursor:default}
ul.LPELP_submenu li:last-child a{border:0}
nav.LPELP_mainNav li.item2:hover ul.LPELP_submenu{display:inline}
nav.LPELP_mainNav li.item2:hover{background:#fff}
nav.LPELP_mainNav li.item2:hover > a{color:#0183BF}
nav.pagination, nav.steps{display:none}
a.nofollow{cursor:default}
#LPELP_videoModal{display:none;position:fixed;left:0;top:0;right:0;bottom:0;background:rgba(0, 0, 0, 0.99);z-index:10000}
#LPELP_videoModal a.LPELP_modalClose{position:absolute;right:10px;top:10px;width:30px;height:30px;background:url(../images/close.png) no-repeat center;background-size:cover;text-indent:-9999px}
.LPELP_videoPlayer{position:absolute;left:40px;top:40px;right:40px;bottom:40px}

/* LPELP_video */
.LPELP_mainSection .LPELP_video{position:relative;background:url('../images/cover_video.jpg') no-repeat center;background-size:cover}
.LPELP_mainSection .LPELP_video .LPELP_block_content{width:90%;color:#fff;text-align:center;display:inline-block;left:50%;top:50%;position:absolute;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.LPELP_mainSection .LPELP_video .LPELP_block_content p{font-size:180%;line-height:120%;padding:1.3em 0 0.4em;text-transform:uppercase;font-weight:500}
.LPELP_mainSection .LPELP_video .LPELP_block_content h1{font-size:416%;font-family:'SohoGothicPro-Ultra'}
.LPELP_mainSection .LPELP_video .LPELP_moreBtn{text-transform:uppercase;font-weight:600;text-decoration:none;color:#fff;font-size:160%;margin-top:3em;display:inline-block;border:2px solid #fff;padding:0.7em;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px}
.LPELP_mainSection .LPELP_playBtn img{width:30%;height:auto;max-width:133px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.LPELP_mainSection .LPELP_playBtn:hover img, .LPELP_mainSection .LPELP_video .LPELP_moreBtn:hover{background:rgba(1, 131, 191, 0.6)}
/* END LPELP_video */

/* COMMONS */
.LPELP_mainSection .LPELP_mainBlock{text-align:center;padding:12.6vw 0;position:relative}
.LPELP_mainSection .LPELP_mainBlock h2{font-size:2.44vw;text-transform:uppercase;font-family:'SohoGothicPro-Ultra'}
.LPELP_mainSection .LPELP_mainBlock h2 strong{display:block;font-size:190%;line-height:130%}
/* END COMMONS */

/* LPELP_features */
#LPELP_featureList ul, #LPELP_featureList li, #LPELP_featureList a{display:inline-block}
#LPELP_featureList ul{margin-top:9vw;width:83.08vw}
#LPELP_featureList li{width:27.32vw;height:55.35vw;float:left;position:relative}
#LPELP_featureList a.calltoaction{position:relative;background:#0083be;padding:0.35vw 0 0.35vw 0.35vw;width:100%}
#LPELP_featureList a.calltoaction span{position:absolute;z-index:2;width:120px;height:120px;background:url(../images/playerBtn.png) no-repeat center;background-size:cover;left:50%;top:50%;margin:-60px 0 0 -60px}
#LPELP_featureList a.noPlay span{display:none}
#LPELP_featureList a.noPlay{cursor:default}
#LPELP_featureList a.calltoaction img{width:100%;height:auto;float:left;display:inline}
#LPELP_featureList li .wrap{padding-top:6vw;background:url(../images/arrow_up.png) no-repeat center 8%}
#LPELP_featureList li:nth-child(3n+2) a{position:absolute;left:0;bottom:0;padding:0.35vw 0}
#LPELP_featureList li:nth-child(3n+2){border-left:0.35vw solid #0083be;border-right:0.35vw solid #0083be;border-top:0.35vw solid #0083be}
#LPELP_featureList li:nth-child(3n+3) a{padding:0.35vw 0.35vw 0.35vw 0}
#LPELP_featureList li:nth-child(3n+2) .wrap{padding-top:3vw;padding-bottom:7vw;background:url(../images/arrow_down.png) no-repeat center 95%}
#LPELP_featureList li h4{margin-bottom:1vw;text-transform:uppercase;font-family:'SohoGothicPro-Ultra';font-size:2.7vw;line-height:105%}
#LPELP_featureList li p{font-weight:bold;width:80%;margin:0 auto;font-size:1.3vw;line-height:136%}
#LPELP_featureList li.item2{border-top:0}
#LPELP_featureList li.item2 a{padding-bottom:0}
/* LPELP_features */

/* HOME PAGE */
.LPELP_recipes{background:#F2F1EF}
.bigPicture_header{position:relative;background:#019FC2 url(../images/background_block01.jpg) no-repeat center bottom;background-size:120% auto;height:42.5vw;padding-top:5em}
.bigPicture_header .LPELP_block_content{width:35%;position:absolute;left:8%;top:12vw;color:#fff;text-transform:uppercase;text-align:center}
.bigPicture_header h2{padding-bottom:0.74em;font-size:3.5vw;line-height:85%;font-family:'SohoGothicPro-Ultra'}
.bigPicture_header h2 strong{display:block;font-size:143%;line-height:95%}
.bigPicture_header p{font-size:1.5vw;line-height:140%;border-top:1px solid white;padding-top:0.5em}
.bigPicture_header p strong{font-size:135%;display:block}
.LPELP_recipes .LPELP_subsection{text-align:center;width:90%;margin:0 auto}
.LPELP_recipes .LPELP_subsection h3{background-size:10% auto;padding-bottom:1.8em;background:url(../images/arrow_down.png) no-repeat center bottom;color:#0083be;width:42%;margin:4vw auto 0;display:inline-block;font-size:2.3vw;font-family:'SohoGothicPro-Ultra';line-height:127%}
.LPELP_recipes .LPELP_subsection ul, .LPELP_recipes .LPELP_subsection li{width:100%;display:inline-block}
.LPELP_recipes .LPELP_subsection ul{margin-top:5.5vw;position:relative;height:129.4vw}
.LPELP_recipes .LPELP_subsection li{color:#0083be;position:relative;width:19.9vw;height:18.1vw;float:left;margin:1.3% 14vw 1.3% 3vw;border:0.4vw solid #0083be;padding:3.1vw 2.2vw;text-align:left}
.LPELP_recipes .LPELP_subsection li h4{display:inline-block;font-family:'SohoGothicPro-Ultra';width:85%;font-size:1.95vw;line-height:123%;margin-bottom:1.7vw}
.LPELP_recipes .LPELP_subsection li p{display:inline-block;font-weight:bold;text-transform:uppercase;font-size:1.3vw;width:70%;font-style:italic;line-height:122%;letter-spacing:0.14em}
.LPELP_recipes .LPELP_subsection li.item1{left:48%;top:0}
.LPELP_recipes .LPELP_subsection li.item2{top:16.5%;left:-30%;text-align:right}
.LPELP_recipes .LPELP_subsection li.item3{left:63.6%;top:21.6%;text-align:right}
.LPELP_recipes .LPELP_subsection li.item4{left:-45.3%;top:38.6%}
.LPELP_recipes .LPELP_subsection li.item5{left:48%;top:25%}
.LPELP_recipes .LPELP_subsection li .wrapImage{z-index:2;background:#0083be;position:absolute;width:18.3vw;height:18.3vw}
.LPELP_recipes .LPELP_subsection li.item1 .wrapImage{left:84%;top:62%}
.LPELP_recipes .LPELP_subsection li.item2 .wrapImage{left:-56%;top:63%}
.LPELP_recipes .LPELP_subsection li.item3 .wrapImage{top:-37%;left:-59%}
.LPELP_recipes .LPELP_subsection li.item4 .wrapImage{top:-38%;left:84%}
.LPELP_recipes .LPELP_subsection li.item5 .wrapImage{left:84%;top:64%}
.LPELP_recipes .LPELP_subsection li .wrapImage img{position:absolute;bottom:0;left:0;width:108%;height:auto}
.LPELP_recipes .LPELP_subsection li.item1 .wrapImage img{left:2vw;width:90%!important}
.LPELP_recipes .LPELP_subsection li.item2 .wrapImage img{left:-0.5vw}
.LPELP_recipes .LPELP_subsection li.item3 .wrapImage img{left:-1.8vw}
.LPELP_recipes .LPELP_subsection li.item4 .wrapImage img{left:-1.7vw}
.LPELP_recipes .LPELP_subsection li.item5 .wrapImage img{left:-2.2vw}
.LPELP_recipes .LPELP_subsection li a.LPELP_calltoaction{background:#0083be url(../images/arrow_recipes.gif) no-repeat center right;position:absolute;left:-0.1vw;bottom:-0.1vw;text-transform:uppercase;font-weight:bold;letter-spacing:0.1em;padding:1vw 45px 1vw 30px;text-decoration:none;color:#fff;display:block;float:left;font-size:1.17vw}
.LPELP_recipes .LPELP_subsection li.item2 a.LPELP_calltoaction,
.LPELP_recipes .LPELP_subsection li.item3 a.LPELP_calltoaction{left:auto;right:-0.1vw}
.LPELP_recipes .LPELP_subsection li.item2 h4{width:70%!important}
.LPELP_smoothies{background:#fdd11f;text-align:center;color:#0083be;position:relative}
.LPELP_smoothies .LPELP_block_content{padding:2vw 0 0}
#LPELP_HomeSmoothies .LPELP_block_content{padding:19vw 0 8vw;max-width:1200px;margin:0 auto}
.LPELP_smoothies .LPELP_block_content h2{margin-bottom:3vw;font-size:2.4vw;text-transform:uppercase;font-family:'SohoGothicPro-Ultra';width:60%;display:inline-block}
.LPELP_smoothies .LPELP_block_content h2 strong{display:block;font-size:200%;padding-top:1vw}
.LPELP_smoothies .LPELP_block_content img{width:80%;max-width:604px}
.LPELP_smoothies .LPELP_block_content a.LPELP_calltoaction{position:relative;z-index:10;display:block;text-transform:uppercase;text-decoration:none;font-weight:bold;font-size:23px;letter-spacing:0.22em;border:5px solid #0083be;width:50%;max-width:370px;margin:1.2vw auto 0;padding:16px 0;color:#0083be}
.cartoons li{position:absolute;z-index:2;background-size:cover;float:left;display:inline;background-repeat:no-repeat}
.cartoons li.item1{background-image:url(../images/cartoon_01.png);width:19vw;height:41vw;right:0;top:-1.3vw;background-position:left}
.cartoons li.item2{background-image:url(../images/cartoon_02.png);width:25vw;height:40vw;left:0;top:-4vw;background-position:-1vw top}
.cartoons li.item3{background-image:url(../images/cartoon_03.png);width:31vw;height:45vw;right:8%;bottom:0;background-position:0 1vw}
.cartoons li.item4{background-image:url(../images/cartoon_04.png);width:32vw;height:35.2vw;left:3vw;bottom:0;background-position:0 1vw}
.cartoons li.item5{background-image:url(../images/cartoon_05.png);width:13vw;height:45.2vw;right:0;bottom:6vw;background-position:left 0vw}
/* END HOME PAGE */

/* MISSION PAGE */
.LPELP_bigPicture .bigPicture_header{background-color:#019fc2;background-size:160% auto;background-position:87% bottom;padding-top:13vw}
.LPELP_mission_content{text-align:center;background-color:#F2F1EF}
.LPELP_mission .LPELP_block_content{padding:5.7vw 0px 7.4vw;width:90%;max-width:1000px;margin:0 auto;text-align:center}
.LPELP_mission .LPELP_block_content pre{width:95%;font-size:2.64vw;white-space:normal;display:inline-block;line-height:135%;font-style:italic}
.LPELP_mission .LPELP_block_content h2{font-family:'SohoGothicPro-Ultra';margin-top:6.7vw;font-size:31px;margin-bottom:3.4vw}
.LPELP_mission .LPELP_block_content p{font-size:22px;width:63%;margin:0 auto;line-height:140%}
.LPELP_mission .LPELP_block_content p.author{font-size:2.7vw;text-align:right;width:97%;display:inline-block;line-height:110%;font-weight:bold}
.LPELP_mission_content .LPELP_wrap{display:inline-block;width:90%}
.LPELP_mission_content p.important{margin-bottom:7vw;margin-top:5.5vw;font-weight:bold;border:4px solid #0083be;display:inline-block;padding:2.7vw 8%;font-size:2.1vw;width:80.5%;text-align:left;line-height:142%}
.LPELP_mission_content p{text-align:left;width:97%;margin:0 auto;font-size:30px;line-height:140%;margin-bottom:41px}
.LPELP_mission_content p.note{font-size:120%}
.LPELP_mission_content img{width:100%;height:auto;max-width:685px;margin-bottom:1.9em}
/* END MISSION PAGE */

/* RECIPES PAGE */
.LPELP_recipesPage{text-align:center}
.LPELP_recipesPage header{background:#00a0c8 url(../images/arrowDownWhite.png) no-repeat center bottom;text-align:center;color:#fff}
.LPELP_recipesPage header .LPELP_block_content{width:100%;padding:6vw 0px 106px}
.LPELP_recipesPage header h2{text-transform:uppercase;font-family:'SohoGothicPro-Ultra';font-size:3.9vw;width:90%;margin:0 auto 2vw}
.LPELP_recipesPage header p{text-transform:uppercase;font-size:1.75vw}
.LPELP_recipesPage header p span{border-bottom:1px solid white;padding:0.4vw 1vw;display:inline-block}
.LPELP_recipesPage header p strong{display:block;font-size:140%;line-height:130%;margin-bottom:0.13em}
.LPELP_recipesPage header p.author span{font-size:110%;font-style:italic;font-weight:500;border-top:1px solid white;margin-bottom:2.8vw}
.LPELP_recipesPage header img{width:90%;max-width:452px;margin-bottom:2.2vw}
.LPELP_benefits{padding:6vw 0 9vw;text-align:center;max-width:1400px;width:100%;margin:0 auto}
.LPELP_benefits h3{padding-bottom:7vw;font-family:'SohoGothicPro-Ultra';width:370px;line-height:120%;display:inline-block;font-size:31px}
.LPELP_benefits p{float:right;width:45%;text-align:left;line-height:140%;margin-top:1.2em;font-size:90%}
.LPELP_benefits ul{float:left;width:37%;text-align:left;list-style-type:disc;margin-left:6%}
.LPELP_benefits ul li{margin-left:1em;padding-left:0.7em;margin-bottom:1.15em;margin-top:0.3em;line-height:125%}
.LPELP_benefits .LPELP_wrap{display:inline-block;font-size:19px;width:70%;margin:0 15%}
.LPELP_recipesPage .LPELP_elaboration{padding:4vw 0 5vw;background:#0083be;text-align:center;color:#fff}
.LPELP_recipesPage .LPELP_elaboration h3{margin-bottom:4vw;font-family:'SohoGothicPro-Ultra';font-size:30px}
.LPELP_recipesPage .LPELP_elaboration .LPELP_wrap{max-width:703px;padding:1.3vw 2vw;border:4px solid #fff;width:80%}
.LPELP_recipesPage .LPELP_elaboration ul{width:94%;display:flex;flex-wrap:wrap;padding-left:6%}
.LPELP_recipesPage .LPELP_elaboration li{width:21.3333%;background:transparent none no-repeat center left;margin:0;padding:0;float:left;text-align:left;padding:25px 0 25px 12%;display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-align:center;-webkit-align-items:center;-webkit-box-align:center;align-items:center}
/*.LPELP_recipesPage .twoItems .LPELP_wrap{max-width:460px}*/
.LPELP_recipesPage .twoItems li{width:38%;padding-left:12%}
.LPELP_recipesPage .twoItems ul{width:89%;padding-left:11%}
.LPELP_ingredients{padding:6vw 0 3vw}
.LPELP_ingredients h3{text-transform:uppercase;font-style:italic;font-weight:500;font-size:25px;letter-spacing:0.23em;margin-bottom:2.6vw}
.LPELP_ingredients h4{margin-top:3vw;text-transform:uppercase;font-style:italic;font-weight:bold;font-size:1.6vw;letter-spacing:0.16em}
.LPELP_ingredients .LPELP_wrap{display:inline-block;width:90%;max-width:880px;position:relative}
.LPELP_ingredients .LPELP_listWrap{float:left;width:43%;text-align:left;margin-left:5.6%;margin-top:1.6em}
.LPELP_ingredients ul{list-style-type:disc;margin-left:5%}
.LPELP_ingredients li{font-size:20px;margin-top:1em}
.LPELP_ingredients img{float:right;margin-right:4%;width:42%;max-width:368px}
.LPELP_instructions .LPELP_wrap{text-align:left;overflow:hidden;max-width:770px;margin:3.7vw auto 3.7vw;width:90%}
.LPELP_instructions h3{margin-bottom:4.3vw;text-transform:uppercase;font-size:25px;line-height:130%;width:100%;text-align:left;background:url(../images/separateRecipeTitle.gif) no-repeat center}
.LPELP_instructions h3 span{font-weight:bold;font-style:italic;background:#ffffff;display:inline-block;padding-right:1em}
.LPELP_instructions.LPELP_odd h3 span{margin-left:37%;padding-left:2%;width:62%;padding-right:0;letter-spacing:0.2em}
.LPELP_instructions ol{list-style-type:decimal;margin-left:20px}
.LPELP_instructions li{padding-left:20px;line-height:140%;margin-bottom:3.1%}
.LPELP_rrss{background:url(../images/separateRecipeTitle.gif) no-repeat left center}
.LPELP_rrss .LPELP_wrap{background:url(../images/separateRecipeTitle.gif) repeat-x left center;max-width:1140px;text-align:right}
.LPELP_rrss ul, .LPELP_rrss li, .LPELP_rrss li a{display:inline-block}
.LPELP_rrss li a{width:84px;height:84px;background:url(../images/rrssIcons.gif) no-repeat 0 0;text-align:left;text-indent:-9999px;float:left;display:inline}
.LPELP_rrss li{float:left;display:inline}
.LPELP_rrss li.facebook a{background-position:-174px 0}
.LPELP_rrss li.twitter a{background-position:-88px 0}
.LPELP_RelatedRecipes{text-align:center;background:#0083be url(../images/backgroundMoreRecipes.gif) repeat-x left bottom;padding:5.4vw 0;color:#fff;background-size:auto 52.4%}
.LPELP_RelatedRecipes h3{margin-bottom:6vw;font-family:'SohoGothicPro-Ultra';text-transform:uppercase;font-size:2.8vw;width:48%;display:inline-block}
.LPELP_RelatedRecipes h3 strong{display:block;font-size:140%;line-height:100%;margin-top:0.3em}
.LPELP_RelatedRecipes ul{display:inline-block;width:84%;margin:0px auto;max-width:1140px}
.LPELP_RelatedRecipes li{color:#0083be;position:relative;background:#ffffff;width:21.1%;display:inline-grid;margin:0 1% 1%;border:0.35vw solid #0083be;height:15.8vw;padding:3% 0 0 1%;text-align:left}
.LPELP_RelatedRecipes li h4{height:17px;font-family:'SohoGothicPro-Ultra';font-size:1.4vw;width:65%;display:inline-block;line-height:115%}
.LPELP_RelatedRecipes li p{width:48%;text-transform:uppercase;font-style:italic;font-weight:500;margin-top:1vw;font-size:0.96vw;letter-spacing:0.23em;line-height:123%}
.LPELP_RelatedRecipes li a.LPELP_calltoaction{line-height:100%;position:absolute;bottom:3.8%;text-transform:uppercase;font-weight:bold;letter-spacing:0.08em;background:#f2f2f2 url(../images/seeMoreArrow.png) no-repeat right;padding:0.55em 1.5em 0.55em 1em;text-decoration:none;color:#0083be;border:0.24vw solid #0083be;z-index:2;left:-5%}
.LPELP_RelatedRecipes li .wrapImage{z-index:1;position:absolute;right:0;width:55%;bottom:0;height:94%;overflow:hidden}
.LPELP_RelatedRecipes li .wrapImage img{width:auto;height:100%}
#LP-EATLIKEPRO-RECIPES #LPELP_features{padding-top:6em}
#LPELP_featureList.recipesList ul{margin-top:5.6em}
#LPELP_featureList.recipesList li{border:0;position:relative;text-align:left;width:100%;padding:0;margin:0;height:auto;display:inline-block;float:left;margin-bottom:8vw}
#LPELP_featureList.recipesList a.calltoaction{position:relative;width:47.5%;padding:0.5vw;float:left!important}
#LPELP_featureList.recipesList li .wrap{background:url(../images/arrow_left.png) no-repeat center left!important;right:0!important;left:auto!important;width:39%!important;float:right;padding:0 2% 0 6%;position:absolute;top:50%;right:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
#LPELP_featureList.recipesList li h4{line-height:120%;font-size:4vw;width:100%;margin:0 0 0.5em}
#LPELP_featureList.recipesList li p{width:95%;margin:0}
#LP-EATLIKEPRO-RECIPES .LPELP_RelatedRecipes li{width:20.1%}
#LP-EATLIKEPRO-RECIPES .LPELP_RelatedRecipes{background-size:auto 31%}
/* END RECIPES PAGE */

/* SMOOTHIES PAGE */
#LPELP_smoothiesPage .LPELP_block_content .wrap{max-width:1200px;margin:0 auto;padding-top:5.7vw}
#LPELP_smoothiesPage .LPELP_block_content h2{font-size:3.5vw}
#LPELP_smoothiesPage .LPELP_block_content h2 strong{line-height:98%;padding-top:0;font-size:192%}
.LPELP_smoothiesList > li{border:0;width:100%;display:inline-block;padding-bottom:100px}
.LPELP_smoothiesList > li:nth-child(even){background:#00a0c8;color:#fff}
.LPELP_smoothiesList > li:nth-child(even) .content .ingredients {border-color:#fff}
.LPELP_smoothiesList li header{width:95.2%;margin:0;margin-top:95px;display:inline-block;padding:0 0 0 4.8%}
#LPELP_smoothiesPage .LPELP_smoothiesList li header img{width:26%;height:auto;float:left;margin-right:5%}
.LPELP_smoothiesList li header p{text-align:left;font-size:32px;font-weight:normal;margin-top:1.2em;line-height:136%;padding-right:1%}
.LPELP_smoothiesList li img.picture{float:right;width:32%;margin-right:8%;margin-top:3em}
.LPELP_smoothiesList li .content{display:inline-block;width:39.7%;padding-top:104px;float:left;margin-left:1.4%}
.LPELP_smoothiesList li .content .ingredients{border:4px solid #0083be;padding:5%;text-align:left}
.LPELP_smoothiesList li .content .ingredients h3{font-family:'SohoGothicPro-Ultra';text-transform:uppercase;font-size:2.88vw;margin-bottom:0.7em}
.LPELP_smoothiesList li .content .ingredients ul{list-style-type:disc;margin-left:20px}
.LPELP_smoothiesList li .content .ingredients li{font-size:2.2vw;margin-bottom:0.45vw}
.LPELP_smoothiesList li .content p{width:90%;margin:0 auto;text-align:left;font-size:2.2vw;margin-top:0.9em;line-height:134%}
.LPELP_smoothiesList li .content p.enjoy{font-family:'SohoGothicPro-Ultra';margin-top:1.2em;width:80%;padding-right:10%;line-height:120%}
.LPELP_smoothiesList li .content p.note{font-size:1.56vw;margin-top:1.6em}
#LPELP_product{background-color:#f7f7f7;max-width:none;padding-top:4.4vw}
.LPELP_mainSection #LPELP_product h2{font-size:2.7vw}
.LPELP_mainSection #LPELP_product h2 strong{line-height:100%}
#LPELP_product article{position:relative;display:inline-block;width:83%;margin-top:4em}
#LPELP_product article img{float:left;width:55%;max-width:500px}
#LPELP_product article h4{font-family:'SohoGothicPro-Ultra';font-size:5vw;text-transform:uppercase}
#LPELP_product article .wrap{top:50%;position:absolute;width:50%;right:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);text-align:left}
#LPELP_product article .wrap p{font-size:2vw;margin-top:7%;line-height:120%}
#LP-EATLIKEPRO-SMOOTIES .LPELP_rrss{background:none;margin-bottom:1.4vw}
#LP-EATLIKEPRO-SMOOTIES .LPELP_rrss li a{background-image:url(../images/rrssIconsBlue.png)}
/* END SMOOTHIES PAGE */

/* elaborationIcos */
.elaborationIcos li.clock{background-image:url(../images/iconClock.png)}
.elaborationIcos li.oven{background-image:url(../images/iconOven.png)}
.elaborationIcos li.people{background-image:url(../images/iconPeople.png)}
.elaborationIcos li.bars{background-image:url(../images/iconBar.png)}
/* END elaborationIcos */

/* desktop big screen more than 1400px */
@media screen and (min-width:1401px){
	body.debug{background:red}
	.bigPicture_header h2{font-size:53px}
	.bigPicture_header p{font-size:22px}
	.bigPicture_header .LPELP_block_content{top:105px;max-width:500px;width:50%;left:8%}
	.bigPicture_header{background-color:transparent;padding-top:0;max-width:1400px;margin:0 auto;height:558px;background-size:auto;background-position:-32px bottom}
	.LPELP_recipes{background:#F2F1EF url(../images/backgroundBigScreen.jpg) repeat-x 0 0}
	.LPELP_recipes .LPELP_subsection h3{font-size:35px}
	.LPELP_recipes .LPELP_subsection{max-width:1400px}
	.LPELP_recipes .LPELP_subsection ul{margin-top:84px;height:1964px}
	.LPELP_recipes .LPELP_subsection li{width:302px;height:275px;margin:1.3% 214px 1.3% 45px;border-width:5px;padding:47px 33px}
	.LPELP_recipes .LPELP_subsection li h4{font-size:30px;margin-bottom:26px}
	.LPELP_recipes .LPELP_subsection li p{font-size:20px}
	.LPELP_recipes .LPELP_subsection li a.LPELP_calltoaction{left:-1px;bottom:-1px;padding:15px 80px 15px 60px;font-size:18px}
	.LPELP_recipes .LPELP_subsection li .wrapImage{width:278px;height:278px}
	.LPELP_smoothies .LPELP_block_content{padding:60px 0 91px;max-width:none;margin:0 auto;display:inline-block}
	.LPELP_smoothies .LPELP_block_content h2{margin-bottom:46px;font-size:36px}
	.cartoons li.item1{width:450px;height:640px;top:-28px}
	.cartoons li.item2{width:380px;height:622px;top:-60px;background-position:-137px top}
	.cartoons li.item3{width:470px;height:683px;background-position:0 14px}
	.cartoons li.item4{width:492px;height:534px;left:3%;background-position:0 15px}
	.cartoons li.item5{width:223px;height:617px;bottom:5%;background-position:left-14px}
	.LPELP_mainSection .LPELP_mainBlock{padding:190px 0;max-width:1400px;margin:0 auto}
	.LPELP_mainSection .LPELP_mainBlock h2{font-size:37px}
	#LPELP_featureList ul{margin-top:138px;width:1259px}
	#LPELP_featureList li{width:414px;height:840px}
	#LPELP_featureList li:nth-child(3n+2) a{padding:6px 0 6px}
	#LPELP_featureList li.item2 a{padding-bottom:0}
	#LPELP_featureList a.calltoaction{padding:6px 0 6px 6px}
	#LPELP_featureList li:nth-child(3n+3) a{padding:6px 6px 6px 0}
	#LPELP_featureList li:nth-child(3n+2){border-width:6px}
	#LPELP_featureList li:nth-child(3n+2) .wrap{padding-top:65px;padding-bottom:106px}
	#LPELP_featureList li .wrap{padding-top:106px}
	#LPELP_featureList li h4{margin-bottom:15px;font-size:41px!important}
	#LPELP_featureList li p{font-size:20px}
	.LPELP_recipesPage header .LPELP_block_content{padding:90px 0 106px;max-width:1400px;margin:0 auto}
	.LPELP_recipesPage header h2{font-size:59px;margin-bottom:30px}
	.LPELP_recipesPage header p{font-size:27px}
	.LPELP_recipesPage header p.author span{margin-bottom:42px}
	.LPELP_recipesPage header img{margin-bottom:33px}
	.LPELP_benefits{float:none;padding:90px 0 135px;display:inline-block;margin:0 auto}
	.LPELP_benefits h3{padding-bottom:108px}
	.LPELP_recipesPage .LPELP_elaboration{padding:62px 0}
	.LPELP_recipesPage .LPELP_elaboration h3{margin-bottom:62px}
	.LPELP_recipesPage .LPELP_elaboration .LPELP_wrap{padding:18px 31px}
	.LPELP_ingredients{padding:92px 0 46px}
	.LPELP_ingredients h3{margin-bottom:40px}
	.LPELP_instructions h3 {margin-bottom:66px}
	.LPELP_instructions .LPELP_wrap {margin:55px auto}
	.LPELP_rrss .LPELP_wrap{max-width:1260px}
	.LPELP_RelatedRecipes h3{font-size:42px;width:700px;display:block;margin:0 auto 92px}
	.LPELP_RelatedRecipes{padding:88px 0}
	.LPELP_RelatedRecipes li{width:242px;margin:10px;border-width:4px;height:230px;padding:27px 0 0 15px}
	.LPELP_RelatedRecipes li h4{font-size:21px;width:146px}
	.LPELP_RelatedRecipes li p{margin-top:16px;font-size:13px;width:110px}
	.LPELP_RelatedRecipes li a.LPELP_calltoaction{border-width:3px}
	.LPELP_mission .LPELP_block_content{padding-top:86px;padding-bottom:114px}
	.LPELP_mission .LPELP_block_content pre{font-size:38px}
	.LPELP_mission .LPELP_block_content p.author{font-size:38px}
	.LPELP_mission .LPELP_block_content h2{margin-top:95px;margin-bottom:52px}
	.LPELP_bigPicture .bigPicture_header{padding-top:198px}
	.LPELP_bigPicture{background:#F2F1EF url(../images/backgroundBigScreen.jpg) repeat-x 0 bottom;background-size:auto 103.3%}
	.LPELP_mission_content p.important{margin-bottom:106px;margin-top:82px;padding:40px 8%;font-size:32px}
	#LPELP_smoothiesPage .LPELP_block_content h2{font-size:52px;width:790px}
	.LPELP_smoothiesList li .content .ingredients h3{font-size:43px}
	.LPELP_smoothiesList li .content .ingredients li{font-size:32px;margin-bottom:8px}
	.LPELP_smoothiesList li .content p{font-size:31px}
	.LPELP_smoothiesList li .content p.note{font-size:20px}
	.LPELP_mainSection #LPELP_product h2{font-size:40px}
	#LPELP_product{padding-top:65px}
	#LPELP_product article h4 {font-size:68px}
	#LPELP_smoothiesPage .LPELP_block_content .wrap{padding-top:0}
	ul.LPELP_submenu{width:380px;padding:24px 42px}
	#LPELP_HomeSmoothies .LPELP_block_content{padding:140px 0 100px}
	#LP-EATLIKEPRO-SMOOTIES .LPELP_rrss{margin-bottom:30px}
	.LPELP_ingredients h4{font-size:22px;margin-top:45px}
	#LPELP_featureList.recipesList a.calltoaction{padding:6px}
	#LPELP_featureList.recipesList li{margin-bottom:90px}
	#LPELP_product article .wrap p{font-size:25px}
}

/* Desktop (1400px) */
@media screen and (max-width:1400px){
	body.debug{background:brown}
	.LPELP_mainSection .LPELP_video .LPELP_block_content{font-size:1.1vw}
	.bigPicture_header{background-size:127% auto;background-position:32% bottom;padding-top:1em}
	.LPELP_smoothiesList li header p{font-size:2.35vw}
	.LPELP_smoothiesList li header{margin-top:8vw}
	.LPELP_smoothiesList li .content{padding-top:8vw}
	.LPELP_smoothiesList > li{padding-bottom:6.4vw}
}

/* Tablet landscape (1024x768) */
@media screen and (max-width:1044px){
	body.debug{background:blue}
	nav.LPELP_mainNav li.mainItem > a{font-size:100%;margin:32px 20px}
	ul.LPELP_submenu{width:35vw}
	ul.LPELP_submenu a{font-size:14px}
	.LPELP_smoothies .LPELP_block_content a.LPELP_calltoaction{margin-top:8vw}
	.cartoons li.item5{bottom:30vw;width:19vw}
	.LPELP_mission .bigPicture_header{background-size:177%;background-position:79% bottom;padding-top:17vw}
	.LPELP_recipesPage header h2{font-size:5vw}
	.LPELP_recipesPage header p{font-size:2.3vw}
	.LPELP_benefits .LPELP_wrap{width:90%;margin:0 5%;font-size:17px}
	.LPELP_ingredients li{font-size:2.1vw;margin-top:1.9vw}
	.LPELP_ingredients img{margin-right:0;width:46%}
	.LPELP_ingredients .LPELP_listWrap{float:left;width:46%;margin-left:5%}
	.LPELP_ingredients h4{font-size:2.3vw}
	.LPELP_rrss li a{width:8vw;height:8vw;background-size:auto 100%}
	.LPELP_rrss li.facebook a {background-position:-15.9vw 0}
	.LPELP_rrss li.twitter a {background-position:-7.9vw 0}
	.LPELP_rrss{background-image:none}
	.LPELP_rrss .LPELP_wrap{width:92%;margin:0}
	.LPELP_RelatedRecipes li{width:42%!important;margin:0 1.82% 2vw;padding-left:2%}
	.LPELP_RelatedRecipes ul{max-width:540px}
	.LPELP_RelatedRecipes li{height:13em;padding-top:6%}
	.LPELP_RelatedRecipes li h4{width:66%;font-size:1.16em}
	.LPELP_RelatedRecipes li p{font-size:0.75em;width:46%}
	.LPELP_mission_content p{font-size:2.5vw;margin-bottom:3.8vw}
	.LPELP_smoothiesList li .content{margin-left:5%;width:50%}
	.LPELP_smoothiesList li img.picture{width:36%;margin-right:5%}
	.LPELP_recipes .LPELP_subsection h3{background-size:auto 23%}
	#LPELP_featureList a.calltoaction span{width:90px;height:90px;margin-top:-45px;margin-left:-45px}
}

/* Small tablet landscape (800x600) / Tablet portrait (768x1024) */
@media screen and (max-width:820px){
	body.debug{background:grey}
	.LPELP_mainSection .LPELP_video .LPELP_block_content{font-size:1.5vw}
	#LP-EATLIKEPRO-HOME .LPELP_playBtn img{max-width:80px}
	.bigPicture_header{background-size:175% auto;background-position:84% bottom;padding-top:52vw}
	.bigPicture_header .LPELP_block_content{top:8vw;width:60%;left:20%}
	.bigPicture_header h2{font-size:6vw;padding-bottom:4vw}
	.bigPicture_header p{font-size:2.5vw}
	.LPELP_recipes .LPELP_subsection h3{font-size:3.2vw;width:90%}
	.LPELP_recipes .LPELP_subsection ul{height:auto;position:static;text-align:center}
	.LPELP_recipes .LPELP_subsection li{text-align:left!important;position:relative;width:55vw;height:20vw;left:0!important;top:0!important;border-width:4px;padding-left:23vw;display:inline-block;float:none;margin-left:0;margin-right:0}
	.LPELP_recipes .LPELP_subsection li.item1 .wrapImage,
	.LPELP_recipes .LPELP_subsection li.item3 .wrapImage,
	.LPELP_recipes .LPELP_subsection li.item5 .wrapImage{left:-0.1vw;bottom:-0.1vw;top:auto;height:26.4vw;width:21vw}
	.LPELP_recipes .LPELP_subsection li.item2 .wrapImage,
	.LPELP_recipes .LPELP_subsection li.item4 .wrapImage{left:auto;right:-0.1vw;bottom:-0.1vw;top:auto;height:26.4vw;width:21vw}
	.LPELP_recipes .LPELP_subsection li.item1 a.LPELP_calltoaction,
	.LPELP_recipes .LPELP_subsection li.item3 a.LPELP_calltoaction,
	.LPELP_recipes .LPELP_subsection li.item5 a.LPELP_calltoaction{left:auto;right:-0.1vw}
	.LPELP_recipes .LPELP_subsection li.item2 a.LPELP_calltoaction,
	.LPELP_recipes .LPELP_subsection li.item4 a.LPELP_calltoaction{right:auto;left:-0.1vw}
	.LPELP_recipes .LPELP_subsection li .wrapImage img{width:100%!important}
	.LPELP_recipes .LPELP_subsection li a.LPELP_calltoaction{padding:1.8vw 7vw 1.8vw 3vw;font-size:1.6vw}
	.LPELP_recipes .LPELP_subsection li .wrapImage img{left:0!important}
	.LPELP_recipes .LPELP_subsection li .wrapImage{background-color:transparent}
	.LPELP_recipes .LPELP_subsection li h4{font-size:4vw;width:100%!important}
	.LPELP_recipes .LPELP_subsection li p{font-size:2vw}
	.LPELP_recipes .LPELP_subsection li.item2,
	.LPELP_recipes .LPELP_subsection li.item4{padding-left:2.2vw;padding-right:23vw}
	.LPELP_smoothies .LPELP_block_content h2{font-size:3.7vw;width:90%}
	.cartoons li.item1{width:25vw;top:2vw;right:-2vw}
	.cartoons li.item2{width:29vw;height:47vw;top:3vw;background-position:-1vw top}
	.cartoons li.item3{width:36vw;height:70vw;bottom:-4vw;-webkit-transform:rotate(-22deg);-ms-transform:rotate(-22deg);transform:rotate(-22deg);right:-6vw}
	.cartoons li.item4{left:0;width:28vw;background-position:-5vw 0}
	.cartoons li.item5{bottom:68vw;width:19vw}
	.LPELP_smoothies{overflow:hidden}
	.LPELP_recipes{padding-bottom:7vw}
	.LPELP_mainSection .LPELP_mainBlock h2, .LPELP_mainSection #LPELP_product h2{font-size:3.7vw}
	#LPELP_featureList ul{margin-top:0;width:84%}
	.LPELP_mainSection #LPELP_featureList li{border:0;width:100%;height:auto;padding:0;margin:0 0 2vw;overflow:hidden}
	.LPELP_mainSection #LPELP_featureList li a{float:left;width:48%;position:relative;padding:4px}
	.LPELP_mainSection #LPELP_featureList li:nth-child(even) a{float:right}
	.LPELP_mainSection #LPELP_featureList li .wrap{background-image:none;padding-top:0;padding-bottom:0;float:left;width:50%;position:absolute;top:50%;right:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
	.LPELP_mainSection #LPELP_featureList li:nth-child(even) .wrap{right:auto;left:0}
	#LPELP_featureList li h4{font-size:3.7vw;width:80%;margin:0 auto}
	#LPELP_featureList li p{font-size:13px;margin-top:3vw}
	.LPELP_recipesPage header h2{font-size:6vw}
	.LPELP_recipesPage header p{font-size:2.8vw}
	.LPELP_recipesPage .LPELP_elaboration li{background-position:top center;padding:70px 0 10px;text-align:center;width:33.3333%;display:inline}
	.LPELP_recipesPage .twoItems.LPELP_elaboration li{width:50%;padding-left:0}
	.LPELP_recipesPage .LPELP_elaboration ul{width:100%;padding-left:0%}
	.LPELP_ingredients li{font-size:2vw;margin-top:1.5vw;line-height:130%}
	.LPELP_ingredients h4{font-size:13px}
	.LPELP_RelatedRecipes h3{font-size:4.4vw;width:76%}
	.LPELP_RelatedRecipes li{border-width:0.44vw}
	.LPELP_RelatedRecipes li a.LPELP_calltoaction{font-size:12px;border-width:2px;background-size:auto 36%}
	.LPELP_mission .LPELP_block_content pre{font-size:24px}
	.LPELP_mission .LPELP_block_content p.author{font-size:21px}
	.LPELP_mission_content p.important{padding-left:5%;padding-right:5%;width:84%;font-size:3.6vw}
	.LPELP_mission_content p{font-size:20px;margin-bottom:28px}
	.LPELP_smoothiesList li .content .ingredients li{font-size:17px;margin-bottom:0.3em}
	.LPELP_smoothiesList li header p{font-size:3vw;margin-top:0.5em;padding-right:4%}
	.LPELP_smoothiesList li .content p{font-size:17px}
	.LPELP_smoothiesList li .content p.note{font-size:12px}
	#LPELP_product article .wrap p{font-size:15px}
	nav.pagination a{display:inline-block;border:1px solid #0083be;width:12px;height:12px;padding:0;text-indent:-9999px;margin:20px 6px 0;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background-color:transparent}
	nav.pagination a.active{background-color:#0083be}
}

/* Small tablet portrait (600x800) */
@media screen and (max-width:620px){
	body.debug{background:pink}
	.LPELP_logo img{width:70%;height:auto;max-width:137px}
	nav.LPELP_mainNav li.mainItem > a{margin:19px 10px;font-size:78%}
	a.LPELP_logo{margin-right:5px;padding:7px 0 0}
	.LPELP_mainSection .LPELP_video .LPELP_block_content{font-size:2.1vw}
	.bigPicture_header, .LPELP_bigPicture .bigPicture_header{background-size:260% auto;background-position:73% bottom;padding-top:85vw}
	.LPELP_bigPicture .bigPicture_header{padding-top:48vw}
	.bigPicture_header .LPELP_block_content{width:80%;left:10%}
	.bigPicture_header h2{font-size:8vw;padding-bottom:4vw}
	.bigPicture_header p {font-size:3.3vw}
	.LPELP_recipes .LPELP_subsection h3{font-size:4.8vw}
	.LPELP_smoothies .LPELP_block_content a.LPELP_calltoaction{font-size:3.4vw;border-width:4px}
	#LPELP_featureList li p{font-size:12px;margin-top:1.4vw;line-height:110%}
	.LPELP_recipesPage header .LPELP_block_content{padding-bottom:19vw}
	.LPELP_recipesPage header{background-size:10% auto}
	.LPELP_benefits h3{font-size:5.2vw;width:60%}
	.LPELP_benefits p{width:100%;font-size:100%;margin-top:0}
	.LPELP_benefits ul{width:94%}
	.LPELP_benefits .LPELP_wrap{width:80%;margin:0 10%;font-size:15px}
	.LPELP_benefits ul li{margin-left:0}
	.LPELP_recipesPage .LPELP_elaboration .LPELP_wrap{border-width:3px}
	.LPELP_ingredients h3{font-size:4vw}
	.LPELP_ingredients li{font-size:13px}
	.LPELP_instructions h3{font-size:3.5vw}
	.LPELP_RelatedRecipes li{height:32vw;border-width:0.50vw;width:42%;padding-left:2%}
	.LPELP_RelatedRecipes li h4{font-size:2.8vw;width:22vw}
	.LPELP_RelatedRecipes li p{font-size:1.8vw;width:15.4vw}
	.LPELP_smoothiesList li .content .ingredients li{font-size:14px}
	.LPELP_smoothiesList li .content p{font-size:14px}
	.LPELP_smoothiesList li .content p.note{font-size:11px}
	.LPELP_smoothiesList li header p{font-size:3.3vw;line-height:120%}
	ul.LPELP_submenu{left:auto;right:-10vw;width:56vw}
	#LPELP_featureList.recipesList li .wrap{padding-left:7%;background-size:8% auto!important}
	#LPELP_product article .wrap p{font-size:13px;line-height:105%}
}

/* mobile portrait & landscape */
@media screen and (max-width:500px){
	body.debug{background:purple}

	.carrusel{position:relative}
	nav.pagination, nav.steps{display:inline}
	nav.steps a{float:left;display:inline;position:absolute;top:50%;width:25px;height:40px;left:3vw;text-indent:-9999px;margin-top:-20px;background:url(../images/arrowsCarrousel.png) no-repeat left top}
	nav.steps a.next{left:auto;right:3vw;background-position:right top}
	nav.steps a.hidden{display:none!important}
	.carrusel .mobileView{width:74%;max-width:365px;margin:0 auto;overflow:hidden;position:relative;margin-top:5vw}
	.carrusel .mobileView ul{max-width:none;width:100%;position:relative;left:0;top:0;margin:0}
	.carrusel ul{-webkit-transition:left 0.2s;-moz-transition:left 0.2s;-o-transition:left 0.2s;transition:left 0.2s}

	.LPELP_logo img{width:80px}
	nav.LPELP_mainNav li.mainItem > a{margin:15px 1.5vw}
	.LPELP_mainSection .LPELP_video .LPELP_block_content{width:80%;font-size:2.4vw}
	.LPELP_mainSection .LPELP_video .LPELP_block_content h1{font-size:340%}
	.LPELP_recipes .LPELP_subsection li a.LPELP_calltoaction{padding:3.5vw 45px 3.5vw 4vw;font-size:3vw}
	.LPELP_recipes .LPELP_subsection li{overflow:hidden;position:relative;width:32vw;height:64vw;left:0!important;top:0!important;border-width:4px;padding:5vw 5vw 5vw 39vw}
	.LPELP_recipes .LPELP_subsection li .wrapImage{width:55vw!important}
	.LPELP_recipes .LPELP_subsection li.item1 .wrapImage,
	.LPELP_recipes .LPELP_subsection li.item3 .wrapImage,
	.LPELP_recipes .LPELP_subsection li.item5 .wrapImage{left:-19%;bottom:-18%;top:auto;height:auto}
	.LPELP_recipes .LPELP_subsection li.item2 .wrapImage,
	.LPELP_recipes .LPELP_subsection li.item4 .wrapImage{left:auto;bottom:-18%;top:auto;right:-19%}
	.LPELP_recipes .LPELP_subsection li .wrapImage img{width:108%!important}
	.LPELP_recipes .LPELP_subsection li.item2, .LPELP_recipes .LPELP_subsection li.item4{padding-left:5vw;padding-right:32vw;width:39vw}
	.LPELP_recipes .LPELP_subsection li.item4{padding-left:5vw;padding-right:25vw;width:46vw}
	.LPELP_recipes .LPELP_subsection li h4{font-size:5.6vw}
	.LPELP_recipes .LPELP_subsection li p{font-size:2.6vw}
	.LPELP_recipes .LPELP_subsection li.item2 h4{width:100%!important}
	.LPELP_smoothies .LPELP_block_content h2, #LPELP_smoothiesPage .LPELP_block_content h2{font-size:4.8vw}
	.LPELP_smoothies .LPELP_block_content a.LPELP_calltoaction{font-size:12px;border-width:4px;width:180px;padding:11px 0;margin-top:14vw}
	.cartoons li.item3{bottom:3vw}
	.LPELP_mainSection .LPELP_mainBlock h2, .LPELP_mainSection #LPELP_product h2{font-size:4.8vw}
	.LPELP_mainSection #LPELP_product h2 strong{font-size:150%}
	.LPELP_mainSection #LPELP_featureList li a{padding:0;width:100%;background:transparent}
	.LPELP_mainSection #LPELP_featureList li .wrap{padding-top:1vw;width:100%;position:static;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
	#LPELP_featureList li h4 {font-size:4.8vw}
	.LPELP_recipesPage header h2{font-size:7.5vw;width:100%}
	.LPELP_recipesPage header p{font-size:3.6vw}
	.LPELP_recipesPage header img{width:75%}
	.LPELP_benefits h3{font-size:6.8vw;width:76%}
	.LPELP_recipesPage .LPELP_elaboration li{background-size:55px;padding-top:60px;font-size:13px;padding-bottom:0}
	.LPELP_recipesPage .LPELP_elaboration .LPELP_wrap{border-width:2px;width:86%}
	.LPELP_recipesPage .LPELP_elaboration h3{font-size:7vw}
	.LPELP_ingredients h3{font-size:17px;text-align:left;width:100%;display:inline-block}
	.LPELP_ingredients .LPELP_listWrap{width:70vw;max-width:340px;float:none;margin:0 auto 6vw 0}
	.LPELP_ingredients img{width:100%;margin:0 auto;float:none}
	.LPELP_ingredients li{font-size:14px;margin-top:11px}
	.LPELP_ingredients .LPELP_wrap{max-width:368px;width:85%}
	.LPELP_instructions.LPELP_odd h3 span{margin-left:0;padding-left:0;width:auto;padding-right:1em}
	.LPELP_instructions h3{background-image:none;font-size:5.4vw}
	.LPELP_instructions h3 {font-size:17px}
	.LPELP_rrss li a{width:60px;height:60px}
	.LPELP_rrss li.facebook a {background-position:-119px 0}
	.LPELP_rrss li.twitter a {background-position:-59px 0}
	.LPELP_RelatedRecipes h3{font-size:5vw;width:90%;margin-bottom:0}
	.LPELP_RelatedRecipes ul{max-width:260px}
	.LPELP_RelatedRecipes li{float:left;display:inline;margin:0 16px 0 16px;width:220px!important;border-width:4px;padding:20px;height:220px}
	.LPELP_RelatedRecipes li h4{font-size:19px;width:134px}
	.LPELP_RelatedRecipes li p{font-size:12px;width:101px;margin-top:10px}
	.LPELP_RelatedRecipes .wrapList{width:300px}
	.LPELP_RelatedRecipes .carrusel nav.steps{display:none}
	.LPELP_RelatedRecipes{background-image:none}
	.LPELP_RelatedRecipes nav.pagination a {border-color:#fff}
	.LPELP_RelatedRecipes nav.pagination a.active{background-color:#fff}
	.LPELP_mission .LPELP_block_content pre{font-size:18px}
	.LPELP_mission .LPELP_block_content p.author{font-size:17px}
	.LPELP_mission .LPELP_block_content p{font-size:18px;width:90%}
	.LPELP_mission .LPELP_block_content h2{font-size:6.6vw}
	.LPELP_mission_content p.important{font-size:5vw}
	.LPELP_mission_content p{font-size:17px;margin-bottom:23px;width:94%}
	#LPELP_smoothiesPage .LPELP_block_content .wrap{width:84%}
	#LPELP_smoothiesPage .LPELP_smoothiesList li header img{float:none;width:55%}
	.LPELP_smoothiesList li header p{font-size:4.4vw;line-height:140%;margin-top:1.2em}
	.LPELP_smoothiesList li img.picture{float:left;width:50%;margin:1em 25%}
	.LPELP_smoothiesList li .content{width:90%;padding:0}
	.LPELP_smoothiesList > li{display:none}
	.LPELP_smoothiesList > li.active{display:inline-block;border:0}
	#LPELP_smoothiesPage nav.steps, #LPELP_smoothiesPage nav.pagination{display:none}
	#LPELP_smoothiesPage.fixed nav.steps{display:inline}
	#LPELP_smoothiesPage.fixed nav.steps a{position:fixed}
	#LPELP_smoothiesPage.fixed nav.pagination{display:inline;background-color:#fdd11f;position:fixed;bottom:-1px;left:0;width:100%;padding-bottom:18px;border-top:1px solid}
	#LPELP_smoothiesPage.fixed{padding-bottom:37px}
	#LPELP_product article img{width:86%;margin:0 7%}
	#LPELP_product article h4{font-size:7vw}
	#LPELP_product article .wrap p{font-size:15px;line-height:120%}
	#LPELP_product article .wrap{position:static;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);width:90%;text-align:center;margin-top:0.7em;display:inline-block}
	#LPELP_product article {margin-top:2em}
	#LPELP_featureList a.calltoaction span{width:110px;height:110px;margin-top:-55px;margin-left:-55px}
	#LPELP_smoothiesPage.par{background:#00a0c8;color:#fff}
	#LP-EATLIKEPRO-SMOOTIES #LPELP_smoothiesPage.par .LPELP_rrss li a{background-image:url(../images/rrssIconsWhite.png)}
	#LPELP_smoothiesPage.fixed.par nav.pagination{background:#00a0c8}
	#LPELP_smoothiesPage.fixed.par nav.pagination a{border-color:#fff}
	#LPELP_smoothiesPage.fixed.par nav.pagination a.active{background-color:#fff}
	#LPELP_smoothiesPage.fixed.par nav.steps a{background-image:url(../images/arrowsCarrouselWhite.png)}
	nav.LPELP_mainNav li.mainItem{position:static}
	.LPELP_header{position:relative}
	ul.LPELP_submenu{left:0;right:0;width:92%;padding:4vw 4%;top:56px}
	#LPELP_featureList.recipesList a.calltoaction{width:100%;padding:0}
	#LPELP_featureList.recipesList li .wrap{background-image:none!important;width:100%!important;padding:0;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);text-align:center}
	#LPELP_featureList.recipesList li h4 {font-size:5.4vw}
	#LPELP_featureList.recipesList li p{font-size:15px}
	#LP-EATLIKEPRO-RECIPES #LPELP_features h2{font-size:4.2vw}
	#LPELP_featureList.recipesList ul{margin-top:0}
}

@media screen and (max-width:500px) and (orientation:landscape) {
	.LPELP_mainSection .LPELP_video .LPELP_block_content{font-size:1.7vw}
}

/* mobile portrait */
@media screen and (max-width:340px){
	body.debug{background:yellow}
}